<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customContents">
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  	<div th:replace="fragments/reportReview :: reportedReviewFragment"></div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
             <th:block layout:fragment="reportTitle"></th:block>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
             <th:block layout:fragment="pathInfo"></th:block>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
         <th:block layout:fragment="subTitle"></th:block>
       
         
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-2 order-1 order-md-1">
              
      			 <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                  <a href="/report/manageSightsReviewReport" class="nav-link">
                    <i class="fas fa-inbox"></i> 리뷰신고내역(관광명소)
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/report/manageResReviewReport" class="nav-link">
                     <i class="fas fa-inbox"></i> 리뷰신고내역(음식점)
                  </a>
                </li>
              </ul>
            <!-- /.card-body -->
          </div>
           
            </div>
       
            <div class="col-12 col-md-12 col-lg-10 order-2 order-md-2">
              <div class="card">
   
            
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>신고번호</th>
                    <th>신고자</th>
                    <th>신고리뷰번호</th>
                    <th>신고사유</th>
                    <th>처리여부</th>
                    <th>신고시각</th>
                  </tr>
                  </thead>
                  <tbody>
                 <th:block layout:fragment="reportList"></th:block>
                  </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
</th:block>
<th:block layout:fragment="customFooterScript">
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/dist/js/commonAjax.js"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
  
  $('.showReview').click(function(){
	  console.log($(this).html())
	  var reviewNum = $(this).attr('reviewNum');
	  var reviewType = $(this).attr('reviewType');
	  var reportNum =$(this).attr('reportNum');
	  $('#reportOKBtn').attr('reviewNum',reviewNum );
	  $('#reportOKBtn').attr('reportNum',reportNum );
	  console.log(reportNum);
	  var url = null;
	  if(reviewType =='Res'){
		  url ='getReportedResReview';
		  $('#reportOKBtn').attr('reviewType','Res');
	  }else {
		  url ='getReportedSightsReview';
		  $('#reportOKBtn').attr('reviewType','Sights');
	  }
	  commonAjax('/ajax/'+url,
				{"reviewNum":reviewNum},
				function(data){
					var result = data.result;
					console.log(result);
					var html = '';
					if(reviewType=='Res'){
						html += '<strong>작성자 </strong>'+result.member.mId+'</span><br><hr>'
						html += '<strong>제목</strong>'+result.resReviewTitle+'</span><br>';
						html +='<strong>내용</strong>'+result.resReviewContents+'</span><br>';
						if(result.resReviewPhoto !=''){
							html += '<img class="img-fluid" src="/fileupload/'+result.resReviewPhoto+'alt="Photo" width="300">'
						}
						html += '<span><i class="fas fa-suitcase-rolling"></i>여행 유형 :<strong>'+result.tripType.tripTypeName+'</strong></span><br>'
						html += '<span><i class="far fa-calendar-check"></i><strong>'+result.resVisitDate+'</strong>에 다녀감 </span><br><br>'	
					} else {
						html += '<strong>작성자 </strong>:<span>'+result.member.mId+'</span><br><hr>'
						html += '<strong>제목</strong>: <span>'+result.sightsReviewTitle+'</span><hr>';
						html +='<strong>내용</strong>: <span>'+result.sightsReviewContents+'</span><hr>';
						if(result.sightsReviewPhoto !=''){
							html += '<img class="img-fluid" src="/fileupload/'+result.sightsReviewPhoto+'"alt="Photo" width="300"><br>'
						}
						html += '<span><i class="fas fa-suitcase-rolling"></i>여행 유형 :<strong>'+result.tripType.tripTypeName+'</strong></span><br>'
						html += '<span><i class="far fa-calendar-check"></i><strong>'+result.sightsVisitDate+'</strong>에 다녀감 </span><br><br>'	
					}
					$('.modal-body').html(html);
				},'Get'); 
	  $('#showReportedReview').modal();
  })
  
  $('#reportOKBtn').click(function(){
		var reviewType = $(this).attr('reviewType');
		var reviewNum =$(this).attr('reviewNum');
		var reportNum =$(this).attr('reportNum');
		console.log(reportNum);
		commonAjax('/ajax/acceptReviewReport',
				{"reviewNum":reviewNum,"reviewType":reviewType,"reportNum":reportNum},
				function(data){
					alert(data.result);
					location.reload();
				},'Get'); 
  })
  </script>
</th:block>	
</html>