<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">

<th:block layout:fragment="customContents">
<div class="content-wrapper">

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
 
      </div>
      <div class="modal-body">
         	<form action="sendMsg" method="post" class="form-horizontal">
         		<div class="form-group">
    				<label for="inputEmail3" class="col-sm-4 control-label">보내는사람</label>
				    <div class="col-sm-8">
				      <input type="email" class="form-control" value="id001" readonly>
				    </div>
				  </div>
				  <div class="form-group">
    				<label for="inputEmail3" class="col-sm-4 control-label">받는사람</label>
				    <div class="col-sm-8">
				      <input type="email" class="form-control"  >
				    </div>
				  </div>
				   <div class="form-group">
    				<label for="inputEmail3" class="col-sm-4 control-label" row="3">내용</label>
				    <div class="col-sm-8">
				      <textarea class="form-control"></textarea>
				    </div>
				  </div>
         	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
        <th:block layout:fragment="msgIntro"></th:block>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <a href="compose.html"  data-toggle="modal" class="btn btn-primary btn-block mb-3" data-target="#myModal">쪽지보내기</a>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Folders</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                  <a href="/receivedMsgList" class="nav-link">
                    <i class="fas fa-inbox"></i> 받은 쪽지함
                    <span class="badge bg-primary float-right">12</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/sendMsgList" class="nav-link">
                    <i class="far fa-envelope"></i> 보낸 쪽지함
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/deleteMsgList" class="nav-link">
                    <i class="far fa-trash-alt"></i> 휴지통
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
            <th:block layout:fragment="msgIntro"></th:block>
              <div class="card-tools">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="Search Mail">
                  <div class="input-group-append">
                    <div class="btn btn-primary">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
                  <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
                <div class="float-right">
                  1-50/200
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.float-right -->
              </div>
              <div class="table-responsive mailbox-messages">
           			<th:block layout:fragment="msgList"></th:block>
              </div>
              <!-- /.mail-box-messages -->
              
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">
           
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="customFooterScript">
	<script>
		/*
			실제 구현부는 여기서 default 는 빈 틀만 꼮!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!써놓고 
			구현은 제발 여기서!!!!!!!!!!!!!!!!!!!!!!!!!!!!
			안그러면 충!!!!!!!!!!!!돌!!!!!!!!!!!!나!!!!!!!!!!!!!!!!!!!!!!!!!!!
		*/
	</script>	
</th:block>
</html>
