<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customContents">
<div th:replace="fragments/sendMsg :: sendMsgModalFragement"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          <th:block layout:fragment="mailListTitle"></th:block> 
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            	<th:block layout:fragment="mainIntro"></th:block>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <a href="#" class="btn btn-primary btn-block mb-3 " data-toggle="modal" data-target="#myModal">쪽지보내기</a>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">내 쪽지함</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                  <a href="/msg/receivedMsgList" class="nav-link">
                    <i class="fas fa-inbox"></i> 받은 쪽지함
                    <span class="badge bg-primary float-right" th:text="${msgCnt}"></span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/msg/sendMsgList" class="nav-link">
                    <i class="far fa-envelope"></i> 보낸 쪽지함
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/msg/deleteMsgList" class="nav-link">
                    <i class="far fa-trash-alt"></i> 휴지통
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>

        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
            <th:block layout:fragment="mailCardTitle"></th:block>
			<th:block layout:fragment="mailSearchForm"></th:block>
            </div>
            <!-- /.card-header -->
            <!-- /.card-body -->
            <th:block layout:fragment ="mailList"></th:block>
            <th:block layout:fragment ="mailFooter"></th:block>

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</th:block>


<th:block layout:fragment="customFooterScript">
	<script th:inline="javascript">
		$(function(){
			var checkArr =[];
			var checkList = $('input[name=check]');
			
			$('#deleteBtn').click(function(){
			 	$('input[name=check]:checked').each(function() {
					 checkArr.push($(this).val())
		         });
			 	
			 	if(checkArr.length==0){
			 		alert('삭제할 쪽지를 선택해주세요');
			 		return false;
			 	}
			 	
			 	var isDeleted = confirm('정말 삭제하시겠습니까?');
			 	if(isDeleted==false){
			 		return false;
			 	}
			 	
				var request = $.ajax({
					  url: "/msg/deleteMsg",  
					  method: "Post",
					  data: {"checkList":checkArr}, 
					  dataType: "json"
				}); 	     
  
				request.done(function( data ) {
					location.reload();
				});	
 
				request.fail(function( jqXHR, textStatus ) {
					  alert( "Request failed: " + textStatus );
				});
			});
			
		});
	</script>

</th:block>
</html>