<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/loginJoinLayout.html}">
<th:block layout:fragment="customTitle">
    <title>TravelMaker |  Log in</title>
</th:block>
 <th:block layout:fragment="customCss">
 <style type="text/css">
     .login-box{width: 50% !important;}
     .login-page{height: 100% !important;}
     .login-logo {margin-top: 100px;}  
     
  </style>
 </th:block>
<th:block layout:fragment="customContents">

<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Travel</b>Maker</a>
  </div>
  <!-- /.login-logo -->
  <div class="row">
     <div class="col-md-6">
        <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">일반회원 로그인</p>

      <form action="/loginMember"  id="mLoginForm" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Id" name="mId">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="mPw">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="button" id="mLoginBtn" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mb-1" style="text-align:center">
        <a href="/member/memberFindId">아이디 찾기</a> |
        <a href="/member/memberFindPw">비밀번호 찾기</a> 
      </p>
      <p class="mb-0" style="text-align:center">
        <a href="/addMember" class="text-center">아직 travelMaker의 회원이 아니신가요?</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
     </div>
     <div class="col-md-6">
        <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">제휴업체 로그인</p>

      <form action="/affLogin" method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
   	  <p class="mb-1" style="text-align:center">
        <a href="/member/memberFindId">아이디 찾기</a> |
        <a href="/member/memberFindPw">비밀번호 찾기</a> 
      </p>
      <p class="mb-0" style="text-align:center">
        <a href="/addAffiliate" class="text-center">아직 travelMaker와 제휴를 맺지 않으셨나요?</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
     </div>
     
  </div>
  </div>
 </th:block>
 <th:block layout:fragment="customScript">
 	<script>
 		$(function(){
 			$('#mLoginBtn').click(function(){
 				var mId =$('input[name=mId]');
 				var mPw =$('input[name=mPw]');
 				if(mId.val()=='' || mId.val()==undefined){
 					alert('아이디를 입력하세요.');
 					mId.focus();
 					return false;
 				}
 				if(mPw.val()=='' || mPw.val()==undefined){
 					alert('비밀번호를 입력하세요.');
 					mPw.focus();
 					return false;
 				}
 				$('#mLoginForm').submit();
 			})
 		})
 	
 	</script>
 
  </th:block>

</html>