<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
    <!-- DataTables -->
  <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<th:block layout:fragment="customTitle">
	<title> 내여행 기록 페이지 :)) </title>
</th:block>
<th:block layout:fragment="customContents">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>여행기록</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/member/myPage">myPage</a></li>
              <li class="breadcrumb-item active"><a href="/tripMemo/tripMemo">tripMemo</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-9">
            <div class="card">
            
              <div class="card-body" style="padding: 30px; margin: 10px;">
                <div class="tab-content">
                
                     <!-- tripMemo 여행기록  start-->
                  <div class="tab-pan" id="tripMemo">
                      <div class="timeline timeline-inverse">
                        <!-- timeline time label -->
                        <div class="time-label">
                          <span class="bg-danger">
                            2020-06-12
                          </span>
                        </div>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <div>
                          <i class="fas fa-envelope bg-primary"></i>

                         <div class="tripMemo timeline-item">
                            <span class="time"><i class="far fa-clock"></i> 12:05</span>
                            <h3 class="timeline-header"><a href="#">전주 전동성당</a> 사람이 너무 많아서 줄서서 사진찍었다 ㅠㅠ</h3>
                            <div class="timeline-body">
                           		내여행기록 세부 내용~~~~~~
                            </div>
                            <div class="timeline-footer">
                              <a href="#" class="btn btn-primary btn-sm">더보기</a>
                              <div class="btn-group">
						        <button type="button" class="btn btn-sm btn-danger float-right" data-toggle="modal" data-target="#modal-deleteTripMemo"
										name="deleteTripMemo" id="deleteTripMemo" value="deleteTripMemo">삭제</button>
							  </div>	
							
					          <!-- Modal deleteTripMemo -->
						      <div class="modal fade" id="modal-deleteTripMemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
								  <div class="modal-content">
								    <div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									</div>
									<div class="modal-body">
										정말 삭제하시겠습니까? 	<br>
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-danger btn-sm col-sm-2 float-left" data-dismiss="modal"> 예 </button>
						 			  <button type="button" class="btn btn-primary btn-sm col-sm-2" data-dismiss="modal">아니오</button>
									</div>
								  </div>
								</div>
							  </div>
							  <!-- End Modal deleteTripMemo -->	
							
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-user bg-info"></i>
                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>
                          <h3 class="timeline-header border-0"><a href="#">전주 한옥마을</a> 완자꼬치에 생맥주 JMT
                          </h3>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline time label -->
                      <div class="time-label">
                        <span class="bg-success">
                          2020-06-11
                        </span>
                      </div>
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-camera bg-purple"></i>
                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 2 days ago</span>
                          <h3 class="timeline-header"><a href="#">승연이랑 전주여행</a></h3>
                          <div class="timeline-bod">
                            <img src="" alt="" class="">
                            <img src="http://placehold.it/150x100" alt="...">
                            <img src="http://placehold.it/150x100" alt="...">
                            <img src="http://placehold.it/150x100" alt="...">
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  <!-- /.tab-pane End tripMemo 여행기록 -->
                   <div class="btn-tipMemo" style="padding: 20px;">
                        <div class="btn-group float-right" >
						  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-addTripMemo"name="addTripMemo" id="addTripMemo" value="addTripMemo">등록하기</button>
                        </div>
					  </div>
                  
                      <!-- modal-addTripMemo -->
				      <div class="modal fade" id="modal-addTripMemo">
					    <div class="modal-dialog modal-lg">
					      <div class="modal-content">
						    <div class="modal-header bg-primary">
						      <h4 class="modal-title">내여행 기록</h4>
						      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						    </div>
						    <div class="modal-body" style="padding: 30px;">
						      <div class="row col-12">
						   	    <h5>기억에 남는 여행이 되셨나요? 기록을 남겨 추억을 간직하세요&nbsp;</h5>
						  	  </div>
							    <div class="modal-form">
							      <form role="form">
							       <div class="row">
							          <div class="col-12">
							            <div class="form-group">
							              <input type="text" class="form-control" placeholder="여행 제목을 입력해주세요">
							            </div>
							          </div>
							        </div>
							        <div class="form-group">
							          <div class="input-group">
							            <div class="custom-file col-12">
							              <input type="file" class="custom-file-input" id="exampleInputFile">
							              <label class="custom-file-label" for="exampleInputFile">여행사진</label>
							            </div>
							          </div>
							        </div>
							        <div class="row">
							          <div class="col-12">
							            <div class="form-group">
							              <textarea class="form-control" rows="1" placeholder="여행 시작 날짜를 입력해주세요"></textarea>
							            </div>
							          </div>
							        </div>
							        <div class="row">
							          <div class="col-12">
							            <div class="form-group">
							              <textarea class="form-control" rows="1" placeholder="여행 종료 날짜를 입력해주세요"></textarea>
							            </div>
							          </div>
							        </div>
							        <div class="row">
							         <div class="col-12">
							            <div class="form-group">
							              <textarea class="form-control" rows="1" placeholder="날씨를 입력해주세요"></textarea>
							            </div>
							          </div>
							        </div>
							        <div class="row">
							          <div class="col-12">
							            <div class="form-group">
							              <textarea class="form-control" rows="4" placeholder="여행 세부 내용을 기록해주세요"></textarea>
							            </div>
							          </div>
							        </div>
							        <div class="row">
							          <div class="col-12">
							            <div class="form-group">
							              <a class="btn btn-info" href="#">내여행 불러오기</a>
							            </div>
							          </div>
							        </div>
							        <div class="row">
							          <div class="col-12">
							            <div class="form-group">
							              <div class="form-check col-4" style="margin:15px;">
							                <input class="form-check-input" type="radio" name="tripMemoCheck" value="openTripMemo" checked>
							                <label class="form-check-label"><i class="fas fa-lock-open">&nbsp;&nbsp;공개</i></label>
							              </div>
							              <div class="form-check col-4" style="margin:15px;">
							                <input class="form-check-input" type="radio" name="tripMemoCheck" value="notOpenTripMemo">
							                <label class="form-check-label"><i class="fas fa-lock">&nbsp;&nbsp;비공개</i></label>
							              </div>
							            </div>
							          </div>
							        </div>
							      </form>
						        </div>      
						        <!-- /.modal-body -->
						      </div>          
						      <div class="modal-footer justify-content-between">
						        <button type="button" class="btn btn-default" data-dismiss="modal">등록 취소</button>
						        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fab fa-angellist"></i>&nbsp;등록 완료 :))</button>
						      </div>
						    </div>
					      </div>
				       </div>
				       <!-- /.modal-addTripMemo -->
                  
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.card-body -->
                
              </div>
              <!-- card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

</th:block>
<th:block layout:fragment="customFooterScript">

<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatasbles-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->
</th:block>
</html>
