<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
<title>축제</title>
</th:block>
<th:block layout:fragment="customCss">
	<style>
span {
	font-size: 20px;
	font-weight: bold
}

.int-festival {
	padding-top: 10px;
	margin-bottom: 20px;
}

.desc {
	display: block;
	padding-left: 10px;
	margin-top: 10px;
}

.radio {
	margin-top: 10px;
}

.festivalListTitle {
	font-size: 35px;
	padding-bottom: 30px;
}

.post {
	margin-top: 15px;
}

.festivalCate {
	margin-top: 40px;
	border-top: 1px solid black;
	padding-top: 10px;
}

.festivalCate p {
	font-size: 20px;
}

.btn-group {
	margin: 10px;
}

.warp-searchForm {
	margin-top: 20px;
}

.warp-searchForm input {
	width: 200px;
}

.festival{
	border-bottom:1px solid #efefef;
	margin-bottom:10px;
	padding-bottom:10px;
}
.form-check {
	margin-top: 10px;
}
.modal-body {
	padding: 40px;
}

</style>
</th:block>
<th:block layout:fragment="customContents">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>축제 리스트 - 이승연</h1>
          </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">festival</li>
            <li class="breadcrumb-item"><a href="/festival/ingFestivalList">festivalList</a></li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-2 order-1 order-md-1">
            <div class="warp-searchForm">
              <form class="form-inline">
                <div class="input-group input-lg">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                  <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="festivalCate">
              <p>축제</p>
              <div class="radio">
                <label> <input type="radio" onclick="location.href='/festival/ingFestivalList'" > 현재 진행중인 축제</label>
               </div>
               <div class="radio">
                 <label> <input type="radio" onclick="location.href='/festival/preFestivalList'"> 진행 예정인 축제</label>
               </div>
               <div class="radio">
                 <label> <input type="radio" onclick="location.href='/festival/postFestivalList'"> 진행 종료된 축제</label>
               </div>
             </div>
             <div class="festivalCate">
               <p>관리자 페이지</p>
               <div class="btn-group col-8">
                 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal-addFestival"
                         name="addFestivalBtn" id="addFestivalBtn" value="addFestival"> 축제 등록
                 </button>
               </div>
             </div>
							
             <!-- modal-addFestival -->
             <div class="modal fade" id="modal-addFestival">
               <div class="modal-dialog modal-lg">
                 <div class="modal-content">
                   <div class="modal-header bg-primary">
                     <h4 class="modal-title">축제 등록</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
					 </button>
                   </div>
						            
                   <div class="modal-body">
                     <p><i class="fas fa-headphones"></i>&nbsp;새로운 축제를 등록해주세요&nbsp;<i class="fas fa-headphones"></i></p>
                     <div class="modal-form">
                       <form id="addFestivalForm" action="/festival/addFestival" method="post" enctype="multipart/form-data">
                       
                         <input type="hidden" class="form-control" name="member.mId" th:value="${session.SID}">
                         <div class="row">
                           <div class="col-12">
                             <div class="form-group">
                               <label><i class="fas fa-music"></i>&nbsp;festival-name</label>
                               <input type="text" class="form-control" name="fesName" id="fesName" placeholder="축제 이름을 입력하세요">
                             </div>
                           </div>
                         </div>
                         <div class="row">
                           <div class="col-12">
                             <div class="form-group">
                               <label for="inputFile"><i class="fas fa-music"></i>&nbsp;festival-photo</label>
                               <input type="file" class="form-control" name="file" id="inputFile" accept="image/git, image/jpeg, image/png">
                             </div>
                           </div>
                         </div>
                         <div class="row" >
                           <div class="col-12">
                             <div class="form-group">
                               <label><i class="fas fa-music"></i>&nbsp;festival-sightsName</label><br/>
                               <select name="sights.sightsNum" id="sightsNum" class="col-md-6 col-sm-8">
                                 <option value="default">관광명소를 선택해주세요</option>
                                 <th:block th:each="f: ${fList}">
                                   <option th:value="${f.sights.sightsNum}">[[${f.sights.sightsNum}]] : [[${f.sights.sightsName}]]</option>
                                 </th:block>
                               </select>
                             </div>
                           </div>
                         </div>
                         <div class="row">
                           <div class="col-12">
                             <div class="form-group">
                               <label><i class="fas fa-music"></i>&nbsp;festival-startDate</label>
                               <input type="date" class="form-control" name="fesStartDate" id="fesStartDate" placeholder="축제 시작날짜를 입력하세요">
                             </div>
                           </div>
                         </div>
                         <div class="row">
                           <div class="col-12">
                             <div class="form-group">
                               <label><i class="fas fa-music"></i>&nbsp;festival-endDate</label>
                               <input type="date"  class="form-control" name="fesEndDate" id="fesEndDate" placeholder="축제 종료날짜를 입력하세요">
                             </div>
                           </div>
                         </div>
                         <div class="row">
                           <div class="col-12">
                             <div class="form-group">
                               <label><i class="fas fa-music"></i>&nbsp;festival-description</label><i class="fas fa-music"></i>
                               <textarea class="form-control" rows="3" name="fesDetail" id="fesDetail" placeholder="축제 상세설명을 입력하세요"></textarea>
                             </div>
                           </div>
                         </div>
                         <div class="row">
                           <div class="col-12">
                             <div class="form-group">
                               <label><i class="fas fa-music"></i>&nbsp;festival-webSite</label>
                               <textarea class="form-control" rows="1" name="fesWeb" id="fesWeb" placeholder="축제 웹사이트 주소를 입력하세요"></textarea>
                             </div>
                           </div>
                         </div>
                         <div class="row">
                           <div class="col-sm-6">
                             <!-- radio -->
                             <div class="radio-group">
                               <div class="form-check">
                                 <input class="form-check-input" type="radio" name="fesState" id="fesState" value="진행중" checked>
                                 <label class="form-check-label">현재 진행중인 축제</label>
                               </div>
                               <div class="form-check">
                                 <input class="form-check-input" type="radio" name="fesState" id="fesState" value="진행예정">
                                 <label class="form-check-label">진행 예정인 축제</label>
                               </div>
                               <div class="form-check">
                                 <input class="form-check-input" type="radio" name="fesState" id="fesState" value="진행종료">
                                 <label class="form-check-label">진행 종료된 축제</label>
                               </div>
                             </div>
                           </div>
                         </div>	
                         <div class="modal-footer justify-content-between">
                           <button type="button" class="btn btn-default" data-dismiss="modal">등록 취소</button>
                           <button type="submit" class="btn btn-primary" id="completeBtn"><i class="fab fa-angellist"></i>&nbsp;등록 완료 :))</button>
                         </div>
                       </form>
                     </div>
                     <!-- /.modal-form -->
                   </div>
                 </div>
               </div>
             </div>
             <!-- modal-addFestival -->
           </div>
           <!-- /.card-body -->
						
           <div class="col-12 col-md-12 col-lg-10 order-2 order-md-2">
             
             <div class="row">
                 <div class="festivalListTitle">
                   <h2>축제 정보 더보기</h2>
                 </div>	
                 <div th:each=" f : ${fList}"  class="col-12 col-md-12 col-lg-12">
                   <th:block th:each=" m : ${f.member}">										
                     <div class="festivalList row bg-light">
                       <div class="sightsImg col-12 col-sm-2 col-md-3">
                         <img th:src="@{/fileupload/{file}(file=${f.fesPhoto})}" alt="Festival Image" width="300" height="300">
                       </div>
                       <div class="festivalDesc col-12 col-sm-6 col-md-8">
                         <a th:href="@{/festival/updateFestival(fesNum=${f.fesNum})}" class="btn btn-info float-right btn-lg"> 수정하기 </a>
                         <input type="hidden" th:value="${f.fesNum}">
                         <h3>[[${f.fesName}]]</h3>
                         <p>위치: [[${f.sights.sightsName}]]</p>
                         <p>시작일 [[${f.fesStartDate}]]</p>
                         <p>종료일 [[${f.fesEndDate}]]</p>
                         <p th:text="${f.fesDetail}"></p>
                         <p th:text="${f.fesWeb}"></p>
                         <input type="hidden" th:value="${f.fesRegDate}">
                         <p th:text="${f.fesState}"></p>
                       </div>
                     </div>
                   </th:block>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <!-- /.card-body -->
       </div>
       <!-- /.card -->
     </section>
     <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
</th:block>

<th:block layout:fragment="customFooterScript">
	<script>
		$(function(){
			
			var fesName = $('#fesName');
			var file = $('#inputFile');
			var sightsNum = $('#sightsNum');
			var fesStartDate = $('#fesStartDate');
			var fesEndDate = $('#fesEndDate');
			var fesDetail = $('#fesDetail');
			var fesWeb = $('#fesWeb');
			var fesState = $('#fesState');
			
			$('#completeBtn').click(function(){
			
				if(fesName.val() == ''){
					alert("축제 이름을 입력해주세요!");
					fesName.focus();
					return false;
				}
				if(file.val() == ''){
					alert("축제 사진이 선택되지 않았습니다!");
					file.focus();
					return false;
				}
				if(sightsNum.val() == default){
					alert("관광명소를 선택해주세요!");
					sightsNum.focus();
					return false;
				}
				if(fesStartDate.val() == '' || fesStartDate.val() == null){
					alert("축제 시작날짜를 선택해주세요!");
					fesStartDate.focus();
					return false;
				}
				if(fesEndDate.val() == ''){
					alert("축제 종료날짜를 선택해주세요");
					fesEndDate.focus();
					return false;
				}
				if(fesDetail.val() == ''){
					alert("축제 상세설명을 회원들이 볼 수 있도록 입력해주세요 :))");
					fesDetail.focus();
					return false;
				}
				if(fesWeb.val() == ''){
					alert("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");
				}
				if(fesState.val() == ''){
					alert("축제의 현재 진행 상태를 선택해주세요!");
					fesState.focus();
					return false;
				} 
				$('#addFestivalForm').submit();
			});
		})
	</script>
</th:block>
</html>
