<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/msgLayout}">
<th:block layout:fragment="customTitle">
	<title>상세쪽지내역</title>
</th:block>
 <th:block layout:fragment="mailListTitle">
 <h1>쪽지 상세 내역</h1>
 </th:block> 
<th:block layout:fragment="mainIntro">
	<li class="breadcrumb-item"><a href="#">message</a></li>
    <li class="breadcrumb-item active">detailMsg</li>
</th:block>
<th:block layout:fragment="mailCardTitle">
     <h3 class="card-title">쪽지 상세내역</h3></th:block>
<th:block layout:fragment="mailSearchForm">
<div th:replace="fragments/sendMsg :: sendMsgModalFragement2(${msg.mId})"></div>
    <div class="card-tools">
        <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
        <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
    </div>
</th:block>
  <th:block layout:fragment ="mailList">
  <div class="mailbox-read-info">
      <h6 th:utext="|${msg.mId} <span class='mailbox-read-time float-right'}>${msg.msgSendTime}</span>|"> 
      </h6>
  </div>
  <div class="mailbox-read-message">
       <p th:text="${msg.contents}" ></p>
  </div>
 <th:block layout:fragment ="mailFooter">
  <div class="card-footer">
      <div class="float-right">
        <button  th:if ="${msg.mId != session.SID}"type="button" class="btn btn-default" data-toggle="modal" data-target="#sendMsg"><i class="fas fa-reply" ></i> Reply</button>
      	<a class="btn btn-default deleteBtn"><i class="far fa-trash-alt"></i>Delete</a>
      </div>
  </div>
  </th:block>
</th:block>
</html>
