<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/msgLayout}">
 <th:block layout:fragment="customTitle">
	<title>'id001'님의 받은 쪽지함</title>
</th:block>
<th:block layout:fragment="msgList">
<div th:replace="fragments/msgListLayout :: msgListFragment">
<th:block layout:fragment="msgIntro">
	 <div class="col-sm-6">
            <h1>받은 쪽지함</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">message</a></li>
              <li class="breadcrumb-item active">receivedMsgList</li>
            </ol>
          </div>
</th:block>
<th:block layout:fragment="msgListTitle">
<h3 class="card-title">받은 쪽지함</h3>
</th:block>
<th:block layout:fragment="msgList"></th:block>
</div>
</th:block>
</html>
