<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/msgLayout}">
<th:block layout:fragment="customTitle">
	<title th:text="|${session.SID}님의 받은쪽지함|"></title>
</th:block>
 <th:block layout:fragment="mailListTitle">
 <h1>받은 쪽지함(김아름)</h1>
 </th:block>
       
<th:block layout:fragment="mainIntro">
	<li class="breadcrumb-item"><a href="#">message</a></li>
    <li class="breadcrumb-item active">receivedMsgList</li>
</th:block>
<th:block layout:fragment="mailCardTitle">
     <h3 class="card-title">Inbox</h3></th:block>
<th:block layout:fragment="mailSearchForm">
   <div class="card-tools">
     <div class="input-group input-group-sm">
       <input type="text" class="form-control" placeholder="Search Mail">
       <div class="input-group-append">
         <div class="btn btn-primary">
           <i class="fas fa-search"></i>
         </div>
       </div>
     </div>
   </div>
</th:block>
  <th:block layout:fragment ="mailList">
  <div class="table-responsive mailbox-messages">
    <table class="table table-hover ">
      <tbody th:if ="${!#lists.isEmpty(receivedMsgList)}" th:each ="i : ${receivedMsgList}" th:style="${i.isChecked=='N' ? 'color:blue;' : 'color:black;'}">
      <tr>
        <td>
          <div class="icheck-primary">
            <input type="checkbox" th:value="${i.messageNum}" name="check">
            <label for="check1"></label>
          </div>
        </td>
        <td class="mailbox-name" th:text="${i.mId}"></td>
 
        <td class="mailbox-subject">
        	<a th:href="@{/detailMsg(massageNum=${i.messageNum})}" th:text ="${i.contents}"  th:style="${i.isChecked=='N' ? 'color:blue;' : 'color:black;'}"></a>
        </td>
        <td class="mailbox-attachment"></td>
        <td class="mailbox-date " th:utext="|<a href='/detailMsg?massageNum=${i.messageNum}'>${i.msgSendTime}</a>|"></td>
        <td class="mailbox-date " th:text="${i.isChecked}"></td>
      </tr>
      </tbody>
	  <tbody th:unless ="${!#lists.isEmpty(receivedMsgList)}">
	  	<tr>
	  		<td> 받은 쪽지가 없습니다 </td>
	  	</tr>
	  </tbody>
    </table>
    <!-- /.table -->
  </div>
  <!-- /.mail-box-messages -->
  
 <th:block layout:fragment ="mailFooter">
  <div class="card-footer p-0">
  <div class="mailbox-controls">
    <!-- Check all button -->
    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
    </button>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm" id="deleteBtn"><i class="far fa-trash-alt"></i></button>
      <button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></button>
      <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i></button>
    </div>
    <!-- /.btn-group -->
    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-sync-alt"></i></button>
    <div class="float-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
</div>  
  </th:block>
</th:block>
</html>
