<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 <!-- Begin Footer -->
<footer class="main-footer"  id="footer" th:fragment="footerFragment">

<div id="info">
<i class="fab fa-avianex" style="8em"></i>
	<a href="#">이용약관</a>
	<a href="#">개인정보 취급방침 및 쿠키 정책</a>
	<a href="#">사이트맵</a>
	<a href="#">운영 방식</a>
</div>

   <div><i class="fab fa-avianex"></i><strong>TravelMaker 예약 대행사가 아니며 사이트 이용자에게 서비스 이용료를 일절 청구하지 않습니다.<a href="#"> 더 알아보기</a></strong></div>
   <div class="float-right d-none d-sm-inline-block">
     <b>Version</b> 1.0.5
   </div>
   
   <script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE -->
<script src="/dist/js/adminlte.js"></script>
<script src="/dist/js/demo.js"></script>
<script>
	$(function(){
		$('.list').click(function(){
			var cate = $(this).attr('cate');	
		 	console.log(cate);
		 	
		 	$('#searchBtn').click(function(){
		 		var search = $('input[name=search]');
		 		var form = $('#searchForm');
		 		if(search.val()=='' || search.val() ==undefined){
		 			alert('검색어를 입력하세요');
		 			search.focus();
		 			return false;
		 		}
		 		form.attr('action','');
		 		console.log(cate,2);
		 		if(cate =='sights'){
		 			form.attr('action','/sights/sightsList');
		 			
		 		} else if (cate =='res'){
		 			form.attr('action','/res/resList');
		 		} 	
		 		form.submit();	
		 	})
		})

		$('#newMsg').click(function(){
			var request = $.ajax({
				  url: "/ajax/unReadMsgList",  
				  method: "GET",
				  dataType: "json"
			}); 	     
 
			request.done(function( data ) {
				console.log(data);
				console.log(data.result.length);
				var msgList = $('#warp-newMsgList');
				var html ='';
				var newMsgCnt = data.result.length
				var msgArr = data.result;
				if(newMsgCnt==0){
					html +=' <p style="margin-left:15%; margin-top:10px;"> 새로운 메세지가 없습니다</p>';
				} else {
					for(var i = 0; i < newMsgCnt;i++){
						console.log(msgArr[i]);
						html+='<a href="/msg/detailMsg/?massageNum='+msgArr[i].messageNum+'" class="dropdown-item">';
						html+='<div class="media">'
						html+=' <img src="/fileupload/'+msgArr[i].member.mAvatar +'" alt="User Avatar" class="img-size-50 mr-3 img-circle">'
						html+=' <div class="media-body">'
			            html+='<h3 class="dropdown-item-title">'+ msgArr[i].mId+'</h3>';
						html+= '<p class="text-sm">'+msgArr[i].contents+'+</p>';
					    html+= '<p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>'+ msgArr[i].msgSendTime+'</p>';
					    html+= '   </div> </div></a>'	;
					    html+=' <div class="dropdown-divider"></div>'
					}
				}  
		    	msgList.html(html);
				
			});	

			request.fail(function( jqXHR, textStatus ) {
				  alert( "Request failed: " + textStatus );
			}); 
		});
		
	})


</script>
</footer>
 <!-- End Footer -->
</html>
