<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="map_wrap" th:fragment="kakaoMapFragment">
  <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
    <ul id="category">    
        <li id="CE7"  data-order="2">
            <span class="category_bg pharmacy"></span>
         	   카페
        </li>  
        <li id="CS2" data-order="2">
            <span class="category_bg pharmacy"></span>
                        편의점
        </li>  
        <li id="AT4"data-order="2"> 
            <span class="category_bg pharmacy"></span>
                       관광명소
        </li> 
        <li id="FD6"data-order="2">
            <span class="category_bg pharmacy"></span>
                        음식점
        </li>     
        <li id="AD5"data-order="2"> 
            <span class="category_bg pharmacy"></span>
                        숙박
        </li>     
    </ul>
</div>
</html>