<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Main Sidebar Container -->  
 <aside class="main-sidebar sidebar-dark-primary elevation-4" id="leftcolumn" th:fragment ="leftmenuFragment">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/dist/img/AdminLTELogo.png"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">TravelMaker</span>
    </a>
   
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../dist/img/avatar6.jpg" class="img-circle elevation-2" alt="User Image">
        </div>

        <div class="info" style="width:150px">
          <a href="/member/myPage" class="d-block">!김아름 강민수</a>

        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
      
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
         	<li class="nav-header">사용자 페이지</li>
          <li class="nav-item has-treeview">
            <a href="/sights/sightsList" class="nav-link"  data-toggle="modal" data-target="#searchSightsList">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              	 !관광명소 김아름
            </a>
          <li class="nav-item">
            <a href="/res/resList" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              	 !음식점 김아름
            </a>
          </li>
          <li class="nav-item">
            <a href="/festival/festivalList" class="nav-link ">
              <i class="nav-icon fas fa-copy"></i>
             	!축제 이승연
            </a>
          </li>
            <li class="nav-item has-treeview">
				<a href="/stats/stats" class="nav-link">
					<i class="nav-icon fas fa-chart-pie"></i>
              	 !통계자료 이승환
            	</a>
          	</li>
          <li class="nav-item has-treeview">
            <a href="/myTrip/tripList " class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              	!내 여행 이승환
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              	!문의게시판 강민수
              	<i class="fas fa-angle-left right"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/question/faq" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	!자주묻는질문 강민수
                </a>
              </li>
              <li class="nav-item">
                <a href="/question/questionList" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	!내 문의내역 강민수
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="/goods/buyGoods" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
	           		!상품 구매하기 강민수
            </a>
          </li>
          
          <li class="nav-header">관리자 페이지</li>
          <li class="nav-item">
            <a href="/report/manageSightsReviewReport" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
             	!리뷰 신고 관리 아름
                <span class="badge badge-info ">2</span>
            </a>
          </li>
         <li class="nav-item">
            <a href="/sights/addSights" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
             	!관광명소 등록 김아름
            </a>
          </li>
           <li class="nav-item">
            <a href="/res/addRes" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
             	!음식점 등록 김아름
            </a>
          </li>
          <li class="nav-item">
            <a href="/feedbackList" class="nav-link">
              <i class="nav-icon fas fa-pen-fancy"></i>
              	!피드백 관리 이승연
            </a>
          </li>
          <li class="nav-item">
            <a href="/pointList" class="nav-link">
              <i class="nav-icon fas fa-crown"></i>
              	!포인트 관리 이승연
            </a>
          </li>
          <li class="nav-item has-treeview ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-dog"></i>
              	!회원관리 이승연
                <i class="fas fa-angle-left right"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/dormantMember" class="nav-link">
                  <i class="nav-icon far fa-grin-tears"></i>
                  	!휴면회원관리 이승연
                </a>
              </li>
              <li class="nav-item">
                <a href="/deleteMember" class="nav-link">
                  <i class="nav-icon far fa-angry"></i>
                  	!탈퇴회원관리 이승연
                </a>
              </li>
            </ul>
            <li class="nav-item">
                <a href="/question/answer" class="nav-link">
                  <i class="nav-icon fas fa-pen-fancy"></i>
                  	!문의내역 답변 강민수
                </a>
              </li>
         	<li class="nav-header">제휴업체 페이지</li>
         	<li class="nav-item">
                <a href="/goods/myRegGoods" class="nav-link">
                  <i class="nav-icon fas fa-table"></i>
                  	!등록상품 관리 강민수
                </a>
              </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      
    </div>
    <!-- /.sidebar -->
    
  </aside>
</html>