<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Main Sidebar Container -->  
 <aside class="main-sidebar sidebar-dark-primary elevation-4" id="leftcolumn" th:fragment ="leftmenuFragment">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/dist/img/AdminLTELogo.png"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">TravelMaker</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../dist/img/avatar6.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info" style="width:150px">
          <a th:href="@{/member/myPage}" class="d-block" th:text="${session.SID}+강민수"></a>	
        </div>
          <a href="#" id="left-out" role="button"><i class="fas fa-angle-left"></i></a>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
      
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
         <li class="nav-header">사용자 페이지</li>
         
          <li class="nav-item">
            <a href="/sights/sightsList" class="nav-link list"  data-toggle="modal" data-target="#searchModal" cate="sights">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>!관광명소 김아름</p>
            </a>
            </li>
          <li class="nav-item">
            <a href="/res/resList" class="nav-link list"  data-toggle="modal" data-target="#searchModal" cate="res">
              <i class="nav-icon fas fa-th"></i>
              	<p>!음식점 김아름</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/festival/ingFestivalList" class="nav-link ">
              <i class="nav-icon fas fa-copy"></i>
             	<p>!축제 이승연</p>
            </a>
          </li>
            <li class="nav-item has-treeview">
				<a href="/stats/stats" class="nav-link">
					<i class="nav-icon fas fa-chart-pie"></i>
              	 <p>!통계자료 이승환</p>
            	</a>
          	</li>
          <li class="nav-item has-treeview">
            <a href="/myTrip/tripList " class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              	<p>!내 여행 이승환, 강민수</p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              	<p>!문의게시판 강민수</p>
              	<i class="fas fa-angle-left right"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/question/faq" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p>!자주묻는질문 강민수</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/question/questionList" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  	<p>!내 문의내역 강민수</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="/goods/buyGoods" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
	           		<p>!상품 구매하기 강민수</p>
            </a>
          </li>
          
          <li class="nav-header">관리자 페이지</li>
          <li class="nav-item">
            <a href="/report/manageSightsReviewReport" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
             	<p>!리뷰 신고 관리 아름</p>
                <span class="badge badge-info ">2</span>
            </a>
          </li>
         <li class="nav-item">
            <a href="/sights/addSights" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
             	<p>!관광명소 등록 김아름</p>
            </a>
          </li>
           <li class="nav-item">
            <a href="/res/addRes" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
             	<p>!음식점 등록 김아름</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/feedback/feedbackList" class="nav-link">
              <i class="nav-icon fas fa-pen-fancy"></i>
              	<p>!피드백 관리 이승연</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/point/pointUseAdminList" class="nav-link">
              <i class="nav-icon fas fa-crown"></i>
              	<p>!포인트 관리 이승연</p>
            </a>
          </li>
          <li class="nav-item has-treeview ">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-dog"></i>
              	<p>!회원관리 이승연</p>
                <i class="fas fa-angle-left right"></i>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/member/dormantMember" class="nav-link">
                  <i class="nav-icon far fa-grin-tears"></i>
                  	<p>!휴면회원관리 이승연</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/member/deleteMember" class="nav-link">
                  <i class="nav-icon far fa-angry"></i>
                  	<p>!탈퇴회원관리 이승연</p>
                </a>
              </li>
            </ul>
            <li class="nav-item">
                <a href="/question/answer" class="nav-link">
                  <i class="nav-icon fas fa-pen-fancy"></i>
                  	<p>!문의내역 답변 강민수</p>
                </a>
              </li>
         	<li class="nav-header">제휴업체 페이지</li>
         	<li class="nav-item">
                <a href="/goods/myRegGoods" class="nav-link">
                  <i class="nav-icon fas fa-table"></i>
                  	<p>!등록상품 관리 강민수</p>
                </a>
              </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      
    </div>
    <!-- /.sidebar -->
    
  </aside>
</html>