<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- Modal -->
<div class="modal fade" id="reportSightsReview" th:fragment="reportReviewFragment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<h3>리뷰 신고하기</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
		<form id="reviewReportForm" action="/reportSightsReveiw" method ="post">
			<input type="hidden" name="contentCode">
			<input type="hidden" name="userId">
			<label>
				<input type="radio"  name="declareCode" value="1"> 개인 정보 노출
			</label>
			<br>
			
			<label>
				<input type="radio" name="declareCode" value="2"> 내 창작물에 대한 저작권 침해
			</label>
			<br>
			<label>
				<input type="radio" name="declareCode" value="3"> 비방/비하, 명예훼손, 사생활침해	
			</label>
			<br>
			<label>
				<input type="radio" name="declareCode" value="4">음란/청소년에게 부적합한 내용, 악성코드
			</label>
			<br>
			<label>
				<input type="radio" name="declareCode" value="5">기타
			</label>
			<br>
			<label>
				<textarea name="declareDesc" style ="display:hidden" class="form-control"></textarea>
			</label>
			<br>
		</form>
               
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary" id="reportBtn">신고하기</button>
      </div>
      </div>
    </div>
  </div>


</html>
