<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- Modal -->
<div class="modal fade" id="myModal" th:fragment="sendMsgModalFragement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
         	<form action="/msg/sendMsg" method="post" class="form-horizontal" id="sendMsgForm">
         		<div class="form-group">
    				<label for="inputEmail3" class="col-sm-4 control-label" >보내는사람</label>
				    <div class="col-sm-12">
				      <input type="text" id="mId" class="form-control" name ="mId" th:value="${session.SID}" readonly>
				    </div>
				  </div>
				  <div class="form-group">
    				<label for="inputEmail3" class="col-sm-4 control-label">받는사람</label>
				    <div class="col-sm-12">
				      <input type="text" id="targetId" class="form-control targetId" name="targetId"  >
				    </div>
				  </div>
				   <div class="form-group">
    				<label for="inputEmail3" class="col-sm-4 control-label">내용</label>
				    <div class="col-sm-12">
				      <textarea id="contents" class="form-control"  rows="5" name="contents"></textarea>
				    </div>
				  </div>
         	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" id="sendMsgBtn" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
  <script>
  	var sendBtn = document.getElementById('sendMsgBtn');
  	sendBtn.addEventListener('click',function(){
  		var targetId = document.getElementById('targetId');
  		var contents = document.getElementById('contents');
  		var form = document.getElementById('sendMsgForm');
  		if(targetId.value ==''){
  			alert('보낼 사람 아이디를 입력하세요');
  			targetId.focus();
  			return false;
  		}
  		if(contents.value==''){
  			alert('보낼 내용을 입력하세요!');
  			contents.focus();
  			return false;
  		}
  		
  		console.log(contents.value);
  		form.submit();
  		
  	})
  </script>
</div>
<!-- Modal -->
<div class="modal fade" id="/msg/sendMsg" th:fragment="sendMsgModalFragement2('targetId')" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
         	<form action="/sendMsg" method="post" class="form-horizontal" id="sendMsgForm2">
         		<div class="form-group">
    				<label for="inputEmail3" class="col-sm-4 control-label" >보내는사람</label>
				    <div class="col-sm-12">
				      <input type="text" id="mId" class="form-control" name ="mId" th:value="${session.SID}" readonly>
				    </div>
				  </div>
				  <div class="form-group">
    				<label for="inputEmail3" class="col-sm-4 control-label">받는사람</label>
				    <div class="col-sm-12">
				      <input type="text" id="targetId" class="form-control targetId" name="targetId" th:value="${msg.mId}" readonly  >
				    </div>
				  </div>
				   <div class="form-group">
    				<label for="inputEmail3" class="col-sm-4 control-label">내용</label>
				    <div class="col-sm-12">
				      <textarea id="contents2" class="form-control"  rows="5" name="contents"></textarea>
				    </div>
				  </div>
         	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" id="sendMsgBtn2" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
  <script>
  	var sendBtn = document.getElementById('sendMsgBtn2');
  	sendBtn.addEventListener('click',function(){
  		var contents = document.getElementById('contents2');
  		var form = document.getElementById('sendMsgForm2');
  	
  		if(contents.value==''){
  			alert('보낼 내용을 입력하세요!');
  			contents.focus();
  			return false;
  		}
  		
  		console.log(contents.value);
  		form.submit();
  		
  	})
  </script>
</div>

</html>
