<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 <!-- Begin Footer -->
<footer class="main-footer"  id="footer" th:fragment="footerFragment">

	<div id="info">
	<i class="fab fa-avianex" style="8em"></i>
		<a href="#">이용약관</a>
		<a href="#">개인정보 취급방침 및 쿠키 정책</a>
		<a href="#">사이트맵</a>
		<a href="#">운영 방식</a>
	</div>
	
    <div><i class="fab fa-avianex"></i><strong>TravelMaker 예약 대행사가 아니며 사이트 이용자에게 서비스 이용료를 일절 청구하지 않습니다.<a href="#"> 더 알아보기</a></strong></div>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.5
    </div>
    
    <script src="/plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- AdminLTE -->
	<script src="/dist/js/adminlte.js"></script>
	<script src="/dist/js/demo.js"></script>

</footer>
 <!-- End Footer -->
</html>
