<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- Modal -->
<div class="modal fade" id="updateReview" th:fragment="updateReviewFragment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<h3>관광명소 리뷰 수정하기</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
 
      </div>
      <div class="modal-body">
         	        <div class="card card-warning">
      
              <!-- /.card-header -->
              <div class="card-body">
                <form role="form">
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" value="원래작성했던제목.,,,">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- textarea -->
                      <div class="form-group">
                        <label>Contents</label>
                        <textarea class="form-control" rows="3" placeholder="리뷰 내용을 입력해주세요"></textarea>
                      </div>
                    </div>
                  </div>
  				 <div class="row">
                    <div class="col-sm-12">
                      <!-- text input -->
                      <div class="form-group">
                       <label>Photo</label>
                         <div class="custom-file">
                      		<input type="file" class="custom-file-input" id="customFile">
                      		<label class="custom-file-label" for="customFile">리뷰 작성하시면 포인트 더드림요</label>
                    	</div>
                      </div>
                    </div>
                  </div>
                  <!-- input states -->
                  <div class="form-group">
                    <label class="col-form-label" for="inputSuccess"><i class="fas fa-check"></i>
                      	해당 관광명소에 대한 당신의 만족도를 알려주세요! <br>(최소 1 최대 5) </label>
                    <input type="range" class="custom-range" id="customRange1"  min="1" max="5" value="3">
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- checkbox -->
                      <div class="form-group">
                          <label>여행 목적은 무엇이였나요?</label>
                        <div class="form-check">
                          <input class="form-check-input" type="radio"  checked>
                          <label class="form-check-label">가족여행</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" >
                          <label class="form-check-label">비지니스</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" >
                          <label class="form-check-label">커플여행</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" >
                          <label class="form-check-label">친구와 여행</label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio">
                          <label class="form-check-label">나 홀로 여행</label>
                        </div>
                      </div>
                     </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <!-- select -->
                      <div class="form-group">
                        <label>언제 방문하셨나요?</label>
                        <select class="form-control">
                          <option>방문날짜를 선택해주세요</option>
                          <option>2020년 7월</option>
                          <option>2020년 6월</option>
                          <option>2020년 5월</option>
                          <option>2020년 4월</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary">작성하기</button>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateResReview" th:fragment="updateResReviewFragment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<h3>음식점 리뷰 수정하기</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
 
      </div>
      <div class="modal-body">
         	        <div class="card card-warning">
      
              <!-- /.card-header -->
              <div class="card-body">
                <form role="form">
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- text input -->
                      <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" value="원래작성했던제목.,,,">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- textarea -->
                      <div class="form-group">
                        <label>Contents</label>
                        <textarea class="form-control" rows="3" placeholder="리뷰 내용을 입력해주세요"></textarea>
                      </div>
                    </div>
                  </div>
  				 <div class="row">
                    <div class="col-sm-12">
                      <!-- text input -->
                      <div class="form-group">
                       <label>Photo</label>
                         <div class="custom-file">
                      		<input type="file" class="custom-file-input" id="customFile">
                      		<label class="custom-file-label" for="customFile">리뷰 작성하시면 포인트 더드림요</label>
                    	</div>
                      </div>
                    </div>
                  </div>
                  <!-- input states -->
                  <div class="form-group">
                    <label class="col-form-label" for="inputSuccess"><i class="fas fa-check"></i>
                      	해당 음식점 대한 당신의 만족도를 알려주세요! <br>(최소 1 최대 5) </label>
                    <input type="range" class="custom-range" id="customRange1"  min="1" max="5" value="3">
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- checkbox -->
                      <div class="form-group">
                          <label>여행 목적은 무엇이였나요?</label>
                        <div class="form-check">
                          <input class="form-check-input" type="radio"  checked>
                          <label class="form-check-label">가족여행</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" >
                          <label class="form-check-label">비지니스</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" >
                          <label class="form-check-label">커플여행</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" >
                          <label class="form-check-label">친구와 여행</label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio">
                          <label class="form-check-label">나 홀로 여행</label>
                        </div>
                      </div>
                     </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <!-- select -->
                      <div class="form-group">
                        <label>언제 방문하셨나요?</label>
                        <select class="form-control">
                          <option>방문날짜를 선택해주세요</option>
                          <option>2020년 7월</option>
                          <option>2020년 6월</option>
                          <option>2020년 5월</option>
                          <option>2020년 4월</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary">수정하기</button>
      </div>
      </div>
    </div>
  </div>
</div>
</html>
