<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="|${search}의 음식점|"></title>
</th:block>
<th:block layout:fragment="customCss">
<link rel="stylesheet" href="/dist/css/postListCss.css">

</th:block>
<th:block layout:fragment="customContents" >
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
				<h1>ResList - 음식점 리스트 (김아름)</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">res</a></li>
					<li class="breadcrumb-item active">resList.html</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</div>
<!-- Main content -->
<section class="content" >
	<!-- Default box -->
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-12  col-lg-2 order-1 order-md-1">
  					 <div>
                        <p>음식점 종류</p>
                        <div class="radio">
                           <label> <input type="radio" name="optionsRadios"
                              id="optionsRadios1" value="option1"> 중국집
                           </label>
                        </div>
                        <div class="radio">
                           <label> <input type="radio" name="optionsRadios"
                              id="optionsRadios1" value="option1"> 한식
                           </label>
                        </div>
                        <div class="radio">
                           <label> <input type="radio" name="optionsRadios"
                              id="optionsRadios1" value="option1"> 일식
                           </label>
                        </div>
                        <div class="radio">
                           <label> <input type="radio" name="optionsRadios"
                              id="optionsRadios1" value="option1"> 치킨/피자
                           </label>
                        </div>
                        <div class="radio">
                           <label> <input type="radio" name="optionsRadios"
                              id="optionsRadios1" value="option1"> 분식
                           </label>
                        </div>
                     </div>
				</div>
				<div class="col-12 col-lg-10 order-2 order-md-2" th:if="${!#lists.isEmpty(resList)}">
					<h1>Best 3</h1>
					<div class="bestSights row">
						<th:block th:each =" best: ${best3}">
							<div class="col-12 col-sm-4"  >
								<div class=" info-box bg-light" >
									<img th:src="@{/fileupload/{file}(file=${best.resPhoto})}"alt="User Image" width="100" height="150">
								<div class="desc">
									<a id="sightsNum" th:href="@{/res/resDetail(resNum=${best.resNum})}" class="sightsName" th:data-sightsNum="${best.resNum}" th:text="${best.resName}"></a><br>
									<th:block  th:each="num: ${#numbers.sequence(1,best.avgGrade)}">
		          			  			<i class="fas fa-star" style="color:green" ></i>
		          	 				</th:block>
		          	 				<strong th:text="| (${best.avgGrade})|"></strong>
		          	 				 <br>
									 <span th:text="|${best.reviewCnt}건의 리뷰|"></span><br>
									<p th:text="${best.resCate.resType}"></p>
									<p th:text="${best.resAddr}"></p>
								</div>
							</div>
						</div>
					</th:block>
					<div class="row" >
						<span class="sightListTitle">음식점</span>
						<th:block th:each="l: ${resList}">
							<div class="col-12 col-lg-12 col-md-12">
								<div class="sights row">
									<div class="sightsImg col-12 col-md-3">
										<img th:src="@{/fileupload/{file}(file=${l.resPhoto})}" alt="User Image" width="80%" height="150">
									</div>
									<div class="sightsDesc col-12 col-md-9">
										<a id="sightsNum" th:href="@{/res/resDetail(resNum=${l.resNum})}" class="sightsName" th:data-sightsNum="${l.resNum}" th:text="${l.resName}"></a><br>
										<p th:text="${l.resCate.resType}"></p>
										<p th:text="${l.resAddr}"></p>
										<p th:text="${l.resDetail}"></p>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-10 order-2 order-md-2"
					th:unless="${!#lists.isEmpty(resList)}">
					<h1 th:text="|'${search}'에 대한 검색 결과가 없습니다|"></h1>
				</div>
			</div>
		</div>
		<!-- /.card-body -->
	</div>
	</div>
	<!-- /.card -->
</section>
<!-- /.content -->
</div>
<th:block th:replace="fragments/scrapModal :: scrapModalFragment"></th:block>
	<!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="customFooterScript">
<script type="text/javascript" src="/dist/js/callMyTrip.js">
<!--

//-->
</script>
	<script>
		
	</script>
</th:block>
</html>
