<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>ADD 화면 입니다 :)</title>
	<style>
#myTripBox {
	text-align: conter;
	padding-top: 90px;
	padding-bottom: 90px;
}

.map {
	width: 100%;
	text-align: center;

	background: #0ff;
}
#photo{
/* 	padding-top: 50px;
	padding-bottom: 50px; */
	max-width: 100%;
	height: auto;
	display: block;
	height: 200px;
	width: 100px;
}
</style>

</th:block>

<th:block layout:fragment="customContents">
      
	<section class="content">
		<div class="content-wrapper">
		 <!-- START ALERTS AND CALLOUTS -->
<div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>내 여행 수정</h1>
          </div>  
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trip</a></li>
              <li class="breadcrumb-item active">editTrip</li>
            </ol>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-exclamation-triangle"></i>
                  	제목
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                
                <div class="alert alert-info alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!-- 클릭시 삭제  -->
                  <h5><i class="icon fas fa-info"></i> 이름!</h5>
                  <div id="photo">
                 	<img src="/dist/img/landscape-thumbnail.jpg;" class="img-responsive img-rounded" alt="">
                 	사진
                 	</div>
                 	<div>
	                 	<a href="#">상세</a>
                 	</div>
                 	<div>
	                 	<a href="#">상세</a>
                 	</div>
                 	<div>
	                 	<a href="#">상세</a>
                 	</div>
                </div>
                
                <div class="alert alert-info alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!-- 클릭시 삭제  -->
                  <h5><i class="icon fas fa-info"></i> 이름!</h5>
                  <div id="photo">
                 	<img src="/dist/img/landscape-thumbnail.jpg;" class="img-responsive img-rounded" alt="">
                 	사진
                 	</div>
                 	<div>
	                 	<a href="#">상세</a>
                 	</div>
                 	<div>
	                 	<a href="#">상세</a>
                 	</div>
                 	<div>
	                 	<a href="#">상세</a>
                 	</div>
                </div>
                
                <div class="alert alert-info alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><!-- 클릭시 삭제  -->
                  <h5><i class="icon fas fa-info"></i> 이름!</h5>
                  <div id="photo">
                 	<img src="/dist/img/landscape-thumbnail.jpg;" class="img-responsive img-rounded" alt="">
                 	사진
                 	</div>
                 	<div>
	                 	<a href="#">상세</a>
                 	</div>
                 	<div>
	                 	<a href="#">상세</a>
                 	</div>
                 	<div>
	                 	<a href="#">상세</a>
                 	</div>
                </div>
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <div class="col-md-6">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-bullhorn"></i>
                  Map
                </h3>
              </div>
                <div class="borderRight">
				<div id="root">
					<div>지도</div>
					<div>RRRRRRRR</div>
				</div>
			</div>
              <!-- /.card-header -->
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- END ALERTS AND CALLOUTS -->
			


		</div>
	
	</section>

	<!-- /.content-wrapper -->
</th:block>

<th:block layout:fragment="customFooterScript">
	<script>
		/*
			실제 구현부는 여기서 default 는 빈 틀만 꼮!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!써놓고 
			구현은 제발 여기서!!!!!!!!!!!!!!!!!!!!!!!!!!!!
			안그러면 충!!!!!!!!!!!!돌!!!!!!!!!!!!나!!!!!!!!!!!!!!!!!!!!!!!!!!!
		*/
	</script>
</th:block>
</html>
