<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>ADD 화면 입니다  :)</title>
	<style>
#root{
	width: 100%;
	height: 300px;     
	border: 1px solid #000;
}
#picture{
margin-top: 80px;
margin-bottom: 80px;
}
.borderRight{
	width: 70%;
	float: right;
	text-align: center;
	box-sizing: border-box; 
    background: #0ff;

}
.borderLeft{
	width: 30%;
	float: left;
	text-align: center;
	box-sizing: border-box;
    background: #00f;
}

</style>
	
</th:block>

<th:block layout:fragment="customContents">
	<div class="content-wrapper">
    	<section class="content">   	
		<!-- Button trigger modal -->
			<div class="borderLeft">
				<div id="root">
					<div id="picture">내여행 만들기</div>
					<div id="divDetail">상세(회원)
					<div>장소명</div>
					<div>ㄴㅇㄹㄴㅁㅇㄹ</div>
					</div>
				</div>
			
				<div id="root">
					<div id="picture">내여행 만들기</div>
					<div id="divDetail">상세(회원)
					<div>장소명</div>
					<div>ㄴㅇㄹㄴㅁㅇㄹ</div>
					</div>
				</div>
			</div>
		
			<div class="borderRight">
				<div id="root">
					<div id="picture">내여행 만들기</div>
					<div id="divDetail">상세(회원)
					<div>장소명</div>
					<div>RRRRRRRR</div>
					</div>
				</div>
			</div>
    	</section>  
  	</div>
  <!-- /.content-wrapper -->
</th:block>

<th:block layout:fragment="customFooterScript">
	<script>
		/*
			실제 구현부는 여기서 default 는 빈 틀만 꼮!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!써놓고 
			구현은 제발 여기서!!!!!!!!!!!!!!!!!!!!!!!!!!!!
			안그러면 충!!!!!!!!!!!!돌!!!!!!!!!!!!나!!!!!!!!!!!!!!!!!!!!!!!!!!!
		*/
	</script>	
</th:block>
</html>
