<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="|${searchWord}의 관광명소|"></title>
</th:block>
<th:block layout:fragment="customCss">
	<style>
.sightsName {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.bestSights {
	padding-top: 10px;
	margin-bottom: 20px;
}

.desc {
	display: block;
	padding-left: 10px;
	margin-top: 10px;
}

.radio {
	margin-top: 10px;
}

.sightListTitle {
	font-size: 35px;
	padding-bottom: 30px;
}

.post {
	margin-top: 15px;
}

.sightCate {
	margin-top: 40px;
	border-top: 1px solid black;
	padding-top: 10px;
}

.sightCate p {
	font-size: 20px;
}

.warp-searchForm {
	margin-left: 13%;
	margin-top: 20px;
}

.warp-searchForm input {
	width: 200px;
}

.sights {
	border-bottom: 1px solid #efefef;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
</style>
</th:block>
<th:block layout:fragment="customContents" >
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
				<h1>SightsList - 관광지 리스트 (김아름)</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">sights</a></li>
					<li class="breadcrumb-item active">sightsList.html</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</div>
<!-- Main content -->
<section class="content" >
	<!-- Default box -->
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-12  col-lg-2 order-1 order-md-1">
					<div class="sightCates">
						<h4>명소 종류</h4>
						
						<div class="radio">
							<label> <input type="radio" name="optionsRadios"
								id="optionsRadios1" value="option1"> 랜드마크
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="optionsRadios"
								id="optionsRadios1" value="option1"> 박물관
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="optionsRadios"
								id="optionsRadios1" value="option1"> 자연공원
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="optionsRadios"
								id="optionsRadios1" value="option1"> 밤문화
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="optionsRadios"
								id="optionsRadios1" value="option1"> 즐길거리/게임
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="optionsRadios"
								id="optionsRadios1" value="option1"> 스파/웰니스
							</label>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-10 order-2 order-md-2" th:if="${!#lists.isEmpty(sightsList)}">
					<h1>Best 3</h1>
					<div class="bestSights row">
						<th:block th:each ="best : ${best3}">
							<div class="col-12 col-sm-4">
							 <div class=" info-box bg-light ">
								<img th:src="@{/fileupload/{file}(file=${best.sightsPhoto})}"alt="User Image" width="100" height="150">
								<div class="desc">
									<a id="sightsNum" th:href="@{/sights/detailSights(sightsNum=${best.sightsNum})}" class="sightsName" th:data-sightsNum="${best.sightsNum}" th:text="${best.sightsName}"></a><br>
									<th:block  th:each="num: ${#numbers.sequence(1,best.avgGrade)}">
		          			  			<i class="fas fa-star" style="color:green" ></i>
		          	 				</th:block>
		          	 				<strong th:text="| (${best.avgGrade})|"></strong>
		          	 				 <br>
									 <span th:text="|${best.reviewCnt}건의 리뷰|"></span><br>
									 <p th:text ="${best.sightsCate.sightsType}"></p>
									 <p th:text ="${best.sightsAddr}"></p>
								</div>
							</div>
						</div>
						</th:block>				
					</div>
					<div class="row" >
						<span class="sightListTitle">관광명소</span>
						<th:block th:each="l, i : ${sightsList}">
							<div class="col-12 col-lg-12 col-md-12">
								<div class="sights row">
									<div class="sightsImg col-12 col-md-3">
										<img th:src="@{/fileupload/{file}(file=${l.sightsPhoto})}" alt="User Image" width="80%" height="150">
									</div>
									<div class="sightsDesc col-12 col-md-9">
										<button id="scrapModal" data-toggle="modal" data-target="#scrapModal"  th:data-indexnum="${i.index}" style="float: right;" class="btn btn-primary" th:data-sightsNum ="${l.sightsNum}">
											<!-- <tb:block th:each="s: ${}"> -->
											<!-- <th:block th:if="${l.sightsNum} == 'sights_1'">삭제 -->
												<i th:class="|far fa-hand-point-up scrapInsertIcon${i.index+1}|"></i>
												<i th:class="|fas fa-hand-point-up scrapDeleteIcon${i.index+1}|" style="display: none"></i>
										<!-- <i class="icon" th:class="${rl.isLiked ? 'fa fa-thumbs-up fa-2x' : 'far fa-thumbs-up fa-2x'}"> -->
								
										</button>
										<a id="sightsNum" th:href="@{/sights/detailSights(sightsNum=${l.sightsNum})}" class="sightsName" th:data-sightsNum="${l.sightsNum}" th:text="${l.sightsName}"></a><br>
										
										<p th:text="${l.sightsCate.sightsType}"></p>
										<p th:text="${l.sightsAddr}"></p>
										<p th:text="${l.sightsDetail}"></p>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-10 order-2 order-md-2"
					th:unless="${!#lists.isEmpty(sightsList)}">
					<h1 th:text="|'${searchWord}'에 대한 검색 결과가 없습니다|"></h1>
				</div>
			</div>
		</div>
		<!-- /.card-body -->
	</div>
	<!-- /.card -->
</section>
<!-- /.content -->
</div>
<th:block th:replace="fragments/scrapModal :: scrapModalFragment"></th:block>
	<!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="customFooterScript">
<script type="text/javascript" src="/dist/js/callMyTrip.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
	var mId = /*[[${session.SID}]]*/
	/*]]>*/
		console.log(mId)
		scrap(mId);
	</script>
</th:block>
</html>