<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${searchWord}+의관광명소"></title>
</th:block>
<th:block layout:fragment="customCss">
	<style>
span {
	font-size: 20px;
	font-weight: bold
}

.bestSights {
	padding-top: 10px;
	margin-bottom: 20px;
}

.desc {
	display: block;
	padding-left: 10px;
	margin-top: 10px;
}

.radio {
	margin-top: 10px;
}

.sightListTitle {
	font-size: 35px;
	padding-bottom: 30px;
}

.post {
	margin-top: 15px;
}

.sightCate {
	margin-top: 40px;
	border-top: 1px solid black;
	padding-top: 10px;
}

.sightCate p {
	font-size: 20px;
}

.warp-searchForm {
	margin-left: 13%;
	margin-top: 20px;
}

.warp-searchForm input {
	width: 200px;
}

.sights{
	border-bottom:1px solid #efefef;
	margin-bottom:10px;
	padding-bottom:10px;
}

</style>
</th:block>
<th:block layout:fragment="customContents">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>SightsList - 관광지 리스트 (김아름)</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">sights</a></li>
							<li class="breadcrumb-item active">sightsList.html</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">

			<!-- Default box -->
			<div class="card">

				<div class="card-body">
					<div class="row">
						<div class="col-12 col-md-6 col-lg-2 order-1 order-md-1">
							<div class="warp-searchForm">
								<form class="form-inline ">
									<div class="input-group input-lg">
										<input class="form-control" type="search"
											placeholder="Search" aria-label="Search">
										<div class="input-group-append">
											<button class="btn btn-navbar" type="submit">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
							<div class="sightCate">
								<p>명소 종류</p>
								<div class="radio">
									<label> <input type="radio" name="optionsRadios"
										id="optionsRadios1" value="option1"> 랜드마크
									</label>
								</div>
								<div class="radio">
									<label> <input type="radio" name="optionsRadios"
										id="optionsRadios1" value="option1"> 박물관
									</label>
								</div>
								<div class="radio">
									<label> <input type="radio" name="optionsRadios"
										id="optionsRadios1" value="option1"> 자연공원
									</label>
								</div>
								<div class="radio">
									<label> <input type="radio" name="optionsRadios"
										id="optionsRadios1" value="option1"> 밤문화
									</label>
								</div>
								<div class="radio">
									<label> <input type="radio" name="optionsRadios"
										id="optionsRadios1" value="option1"> 즐길거리/게임
									</label>
								</div>
								<div class="radio">
									<label> <input type="radio" name="optionsRadios"
										id="optionsRadios1" value="option1"> 스파/웰니스
									</label>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-12 col-lg-10 order-2 order-md-2">
							<h1>Best 3</h1>
							<div class="bestSights row">
								<div class="col-12 col-sm-4">
									<div class=" info-box bg-light ">
										<img src="/dist/img/avatar6.jpg" alt="User Image" width="100"
											height="150">
										<div class="desc">
											<a href="/detailSights"><span>Jonna</span></a><br> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> 529건의 리뷰<br>
												<p>박지훈 얼굴이 장관</p>
											<p>주소작성하는부분이야</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-4">
									<div class="info-box bg-light">
										<img src="/dist/img/test.jpeg" alt="User Image" width="100"
											height="150">
										<div class="desc">
											<span>HandSome</span><br> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> 529건의 리뷰<br>
											<p>박지훈 얼굴이 장관</p>
											<p>주소작성하는부분이야</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-4">
									<div class="info-box bg-light">
										<img src="/dist/img/test2.jpeg" alt="User Image" width="100"
											height="150">
										<div class="desc">
											<span>Michinnom</span><br> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> <i class="fas fa-star"></i> <i
												class="fas fa-star"></i> 529건의 리뷰<br>
											<p>박지훈 얼굴이 장관</p>
											<p>주소작성하는부분이야</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<span class="sightListTitle">관광명소</span>
									<th:block th:each ="l: ${sightsList}">
                      					 <div class="col-12">
                          					 <div class="sights row">
                           					   <div class="sightsImg col-12 col-md-2">
                              					 <img th:src="@{/fileupload/{file}(file=${l.sightsPhoto})}" alt="User Image" width="150" height="150">
                              					</div>
                              				   <div class="sightsDesc col-12 col-md-10">
                                                  <span th:text="${l.sightsName}"></span><br>
                                                   <i class="fas fa-star"></i> 
                                                   <i class="fas fa-star"></i> 
                                                   <i class="fas fa-star"></i> 
                                                   <i class="fas fa-star"></i>
					                               <p>카테고리</p>
					                               <p th:text="${l.sightsAddr}"></p>
					                               <p th:text="${l.sightsDetail}">  </p>  
					                            </div>
                           					</div>
                        				</div>
									</th:block>
								</div>
							</div>
						</div>

				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->

		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

</th:block>
<th:block layout:fragment="customFooterScript">

</th:block>
</html>
