<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
<th:block layout:fragment="customTitle">
	<title> 포인트 사용내역 화면입니다  :) </title>
</th:block>
<!-- 사용자 지정 css -->
<th:block layout:fragment="customCss">
  <style>
  	.card-control {
  		margin: 20px;
  		padding: 20px;
  	}
  	table {
  		width: 100%;
  	}
  </style>
</th:block>

<th:block layout:fragment="customContents">

<div class="wrapper">
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>포인트 사용내역 - 이승연</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">myPage</a></li>
              <li class="breadcrumb-item active">pointUse.html</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
          <div class="card-control col-10">
            <div class="card card-primary">
              <div class="card-header">
                <h4 class="card-title">포인트 사용내역</h4>
              </div>
              <!-- /.card-header -->
              <div class="card-body col-12">
                <table class="table table-bordered col-12">
                  <colgroup>
                	<col width="*" />
                	<col width="*" />
                	<col width="*" />
                	<col width="*" />
                	<col width="*" />
                	<col width="*" />
                  </colgroup>
                  <thead>                  
                    <tr>
                      <th style="width: 20px">#</th>
                      <th>u.point_use_reg_date</th>
                      <th style="width: 20px; height: 20px;">g.g_photo</th>
                      <th>g.g_name</th>
                      <th>g.g_amount</th>
                      <th>u.point_use_used</th>
                    </tr>
                  </thead>
                  <tbody>
                  	<th:block th:each=" u, i : ${pointUseList}">
                      <tr th:each=" g : ${u.goods}">
                        <input type="hidden" th:value="${u.pointUseNum}">
                        <input type="hidden" th:value="${loginId}">
                        <td th:text="${i.count}"></td>
                        <td th:text="${u.pointUseRegDate}"></td>
                        <td th:text="${g.goodsPhoto}"></td>
                        <td th:text="${g.goodsName}"></td>
                        <td th:text="${g.goodsAmount}"></td>
                        <td th:text="${u.pointUseUsed}"></td>
                    </tr>
                    </th:block>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->
		  </div>
          <!-- /.col 포인트 사용내역 -->
          
          <div class="card-control col-10">
            <div class="card card-primary">
              <div class="card-header">
                <h4 class="card-title">포인트 적립내역</h4>
              </div>
              <!-- /.card-header -->
              <div class="card-body col-12">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 20px">#</th>
                      <th>save_point_reg_date</th>
                      <th>save_point_cause</th>
                      <th>save_point_detail</th>
                      <th>save_point_charge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <th:block>
                    <tr th:each=" s, i : ${pointSaveList}">
                      <input type="hidden" th:value="${s.savePointNum}">
                      <input type="hidden" th:value="${loginId}">
                      <td th:text="${i.count}"></td>
                      <td th:text="${s.savePointRegDate}"></td>
                      <td th:text="${s.savePointCause}"></td>
                      <td th:text="${s.savePointDetail}"></td>
                      <td th:text="${s.savePointCharge}"></td>
                    </tr>
                    </th:block>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->
		  </div>
          <!-- /.col 포인트 적립내역 -->
          
         </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
</html>