<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
  <!-- jsGrid -->
  <link rel="stylesheet" href="../../plugins/jsgrid/jsgrid.min.css">
  <link rel="stylesheet" href="../../plugins/jsgrid/jsgrid-theme.min.css">

<th:block layout:fragment="customTitle">
	<title> 포인트관리 화면입니다  :) </title>
</th:block>
<th:block layout:fragment="customContents">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>포인트 관리 - 이승연</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">point</a></li>
              <li class="breadcrumb-item active">pointList.html</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">포인트 관리</h3>
        </div>
            
        <div class="card-body table-responsive">
          <div class="row">
            <table id="example1" class="table table-bordered table-striped">
            <thead>
	          <tr>
	            <th>#</th>
	            <th>아이디</th>
	            <th>이름</th>
	            <th>성별</th>
	            <th>생년월일</th>
	            <th>상품카테고리</th>
	            <th>상품이름</th>
	            <th>추가된포인트</th>
	            <th>차감된포인트</th>
	            <th>최종포인트(점)</th>
	            <th>최종포인트등록시각</th>
	          </tr>
            </thead>
            <tbody>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	          <tr>
	            <th>1</th>
	            <th>mId</th>
	            <th>mName</th>
	            <th>mGender</th>
	            <th>mBirth</th>
	            <th>allianceGoodsCate</th>
	            <th>allianceGoodsName</th>
	            <th>pointAdd</th>
	            <th>pointRemove</th>
	            <th>pointFinal</th>
	            <th>pointRedDate</th>
	          </tr>
	        </tbody>
          </table>
          </div>
        </div>
        <!-- /.card-body -->
              
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


</th:block>

<th:block layout:fragment="customFooterScript">

<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->
	<script>
	  $(function () {
		    $("#example1").DataTable({
		      "responsive": true,
		      "autoWidth": false,
		    });
		  });
	</script>	
</th:block>
</html>
