<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title> 포인트관리 화면입니다  :) </title>
</th:block>
<th:block layout:fragment="customContents">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>포인트 관리</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">point</a></li>
              <li class="breadcrumb-item active">pointList.html</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">포인트 관리</h3>
              </div>
              <!-- /.card-header -->
              
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
	                  <tr>
	                      <th>포인트 사용 번호</th>
	                      <th>아이디</th>
	                      <th>권한</th>
	                      <th>이름</th>
	                      <th>성별</th>
	                      <th>생년월일</th>
	                      <th>상품번호</th>
	                      <th>상품카테고리</th>
	                      <th>상품이름</th>
	                      <th>추가된포인트</th>
	                      <th>차감된포인트</th>
	                      <th>최종포인트(점)</th>
	                      <th>최종포인트등록시각</th>
	                  </tr>
                  </thead>
                  <tbody>
	                  <tr>
	                    <th>pointUseNumber</th>
	                    <th>mId</th>
	                    <th>mLevel</th>
	                    <th>mName</th>
	                    <th>mGender</th>
	                    <th>mBirth</th>
	                    <th>allianceGoodsNumber</th>
	                    <th>allianceGoodsCate</th>
	                    <th>allianceGoodsName</th>
	                    <th>pointAdd</th>
	                    <th>pointRemove</th>
	                    <th>pointFinal</th>
	                    <th>pointRedDate</th>
	                  </tr>
	                  <tr>
	                    <th>pointUseNumber</th>
	                    <th>mId</th>
	                    <th>mLevel</th>
	                    <th>mName</th>
	                    <th>mGender</th>
	                    <th>mBirth</th>
	                    <th>allianceGoodsNumber</th>
	                    <th>allianceGoodsCate</th>
	                    <th>allianceGoodsName</th>
	                    <th>pointAdd</th>
	                    <th>pointRemove</th>
	                    <th>pointFinal</th>
	                    <th>pointRedDate</th>
	                  </tr>
	                  <tr>
	                    <th>pointUseNumber</th>
	                    <th>mId</th>
	                    <th>mLevel</th>
	                    <th>mName</th>
	                    <th>mGender</th>
	                    <th>mBirth</th>
	                    <th>allianceGoodsNumber</th>
	                    <th>allianceGoodsCate</th>
	                    <th>allianceGoodsName</th>
	                    <th>pointAdd</th>
	                    <th>pointRemove</th>
	                    <th>pointFinal</th>
	                    <th>pointRedDate</th>
	                  </tr>
	                  <tr>
	                    <th>pointUseNumber</th>
	                    <th>mId</th>
	                    <th>mLevel</th>
	                    <th>mName</th>
	                    <th>mGender</th>
	                    <th>mBirth</th>
	                    <th>allianceGoodsNumber</th>
	                    <th>allianceGoodsCate</th>
	                    <th>allianceGoodsName</th>
	                    <th>pointAdd</th>
	                    <th>pointRemove</th>
	                    <th>pointFinal</th>
	                    <th>pointRedDate</th>
	                  </tr>
	                  <tr>
	                    <th>pointUseNumber</th>
	                    <th>mId</th>
	                    <th>mLevel</th>
	                    <th>mName</th>
	                    <th>mGender</th>
	                    <th>mBirth</th>
	                    <th>allianceGoodsNumber</th>
	                    <th>allianceGoodsCate</th>
	                    <th>allianceGoodsName</th>
	                    <th>pointAdd</th>
	                    <th>pointRemove</th>
	                    <th>pointFinal</th>
	                    <th>pointRedDate</th>
	                  </tr>
	                  <tr>
	                    <th>pointUseNumber</th>
	                    <th>mId</th>
	                    <th>mLevel</th>
	                    <th>mName</th>
	                    <th>mGender</th>
	                    <th>mBirth</th>
	                    <th>allianceGoodsNumber</th>
	                    <th>allianceGoodsCate</th>
	                    <th>allianceGoodsName</th>
	                    <th>pointAdd</th>
	                    <th>pointRemove</th>
	                    <th>pointFinal</th>
	                    <th>pointRedDate</th>
	                  </tr>
	                  <tr>
	                    <th>pointUseNumber</th>
	                    <th>mId</th>
	                    <th>mLevel</th>
	                    <th>mName</th>
	                    <th>mGender</th>
	                    <th>mBirth</th>
	                    <th>allianceGoodsNumber</th>
	                    <th>allianceGoodsCate</th>
	                    <th>allianceGoodsName</th>
	                    <th>pointAdd</th>
	                    <th>pointRemove</th>
	                    <th>pointFinal</th>
	                    <th>pointRedDate</th>
	                  </tr>
	                  <tr>
	                    <th>pointUseNumber</th>
	                    <th>mId</th>
	                    <th>mLevel</th>
	                    <th>mName</th>
	                    <th>mGender</th>
	                    <th>mBirth</th>
	                    <th>allianceGoodsNumber</th>
	                    <th>allianceGoodsCate</th>
	                    <th>allianceGoodsName</th>
	                    <th>pointAdd</th>
	                    <th>pointRemove</th>
	                    <th>pointFinal</th>
	                    <th>pointRedDate</th>
	                  </tr>
	                  <tr>
	                    <th>pointUseNumber</th>
	                    <th>mId</th>
	                    <th>mLevel</th>
	                    <th>mName</th>
	                    <th>mGender</th>
	                    <th>mBirth</th>
	                    <th>allianceGoodsNumber</th>
	                    <th>allianceGoodsCate</th>
	                    <th>allianceGoodsName</th>
	                    <th>pointAdd</th>
	                    <th>pointRemove</th>
	                    <th>pointFinal</th>
	                    <th>pointRedDate</th>
	                  </tr>
	                  <tr>
	                    <th>pointUseNumber</th>
	                    <th>mId</th>
	                    <th>mLevel</th>
	                    <th>mName</th>
	                    <th>mGender</th>
	                    <th>mBirth</th>
	                    <th>allianceGoodsNumber</th>
	                    <th>allianceGoodsCate</th>
	                    <th>allianceGoodsName</th>
	                    <th>pointAdd</th>
	                    <th>pointRemove</th>
	                    <th>pointFinal</th>
	                    <th>pointRedDate</th>
	                  </tr>
	                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


</th:block>

<th:block layout:fragment="customFooterScript">
	<script>

	</script>	
</th:block>
</html>
