<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title> 탈퇴 화면 입니다  :) 하지 마세요 </title>
</th:block>
<th:block layout:fragment="customContents">


 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>탈퇴회원 관리</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">deleteMember.html</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">탈퇴회원리스트</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th>탈퇴 번호</th>
                      <th>아이디</th>
                      <th>권한</th>
                      <th>이름</th>
                      <th>이메일</th>
                      <th>성별</th>
                      <th>생년월일</th>
                      <th>회원가입시각</th>
                      <th>탈퇴시각</th>
                      <th>탈퇴 사유</th>
                      <th>탈퇴 사유 기타내용</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>drop_num_10</td>
                      <td>mId</td>
                      <td>mLevel</td>
                      <td>mName</td>
                      <td>mEmail</td>
                      <td>mGender</td>
                      <td>mBirth</td>
                      <td>mRegDate</td>
                      <td>mDropDate</td>
                      <td>mDropReasonCheck</td>
                      <td>mDropContents</td>
                  </tr>
                  <tr>
                      <td>drop_num_9</td>
                      <td>mId</td>
                      <td>mLevel</td>
                      <td>mName</td>
                      <td>mEmail</td>
                      <td>mGender</td>
                      <td>mBirth</td>
                      <td>mRegDate</td>
                      <td>mDropDate</td>
                      <td>mDropReasonCheck</td>
                      <td>mDropContents</td>
                  </tr>
                  <tr>
                      <td>drop_num_8</td>
                      <td>mId</td>
                      <td>mLevel</td>
                      <td>mName</td>
                      <td>mEmail</td>
                      <td>mGender</td>
                      <td>mBirth</td>
                      <td>mRegDate</td>
                      <td>mDropDate</td>
                      <td>mDropReasonCheck</td>
                      <td>mDropContents</td>
                  </tr>
                  <tr>
                      <td>drop_num_7</td>
                      <td>mId</td>
                      <td>mLevel</td>
                      <td>mName</td>
                      <td>mEmail</td>
                      <td>mGender</td>
                      <td>mBirth</td>
                      <td>mRegDate</td>
                      <td>mDropDate</td>
                      <td>mDropReasonCheck</td>
                      <td>mDropContents</td>
                  </tr>
                  <tr>
                      <td>drop_num_6</td>
                      <td>mId</td>
                      <td>mLevel</td>
                      <td>mName</td>
                      <td>mEmail</td>
                      <td>mGender</td>
                      <td>mBirth</td>
                      <td>mRegDate</td>
                      <td>mDropDate</td>
                      <td>mDropReasonCheck</td>
                      <td>mDropContents</td>
                  </tr>
                  <tr>
                      <td>drop_num_5</td>
                      <td>mId</td>
                      <td>mLevel</td>
                      <td>mName</td>
                      <td>mEmail</td>
                      <td>mGender</td>
                      <td>mBirth</td>
                      <td>mRegDate</td>
                      <td>mDropDate</td>
                      <td>mDropReasonCheck</td>
                      <td>mDropContents</td>
                  </tr>
                  <tr>
                      <td>drop_num_4</td>
                      <td>mId</td>
                      <td>mLevel</td>
                      <td>mName</td>
                      <td>mEmail</td>
                      <td>mGender</td>
                      <td>mBirth</td>
                      <td>mRegDate</td>
                      <td>mDropDate</td>
                      <td>mDropReasonCheck</td>
                      <td>mDropContents</td>
                  </tr>
                  <tr>
                      <td>drop_num_3</td>
                      <td>mId</td>
                      <td>mLevel</td>
                      <td>mName</td>
                      <td>mEmail</td>
                      <td>mGender</td>
                      <td>mBirth</td>
                      <td>mRegDate</td>
                      <td>mDropDate</td>
                      <td>mDropReasonCheck</td>
                      <td>mDropContents</td>
                  </tr>
                  <tr>
                      <td>drop_num_2</td>
                      <td>mId</td>
                      <td>mLevel</td>
                      <td>mName</td>
                      <td>mEmail</td>
                      <td>mGender</td>
                      <td>mBirth</td>
                      <td>mRegDate</td>
                      <td>mDropDate</td>
                      <td>mDropReasonCheck</td>
                      <td>mDropContents</td>
                  </tr>
                  <tr>
                      <td>drop_num_1</td>
                      <td>mId</td>
                      <td>mLevel</td>
                      <td>mName</td>
                      <td>mEmail</td>
                      <td>mGender</td>
                      <td>mBirth</td>
                      <td>mRegDate</td>
                      <td>mDropDate</td>
                      <td>mDropReasonCheck</td>
                      <td>mDropContents</td>
                  </tr>
                 
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



  
</th:block>

<th:block layout:fragment="customFooterScript">
	<script>

	</script>	
</th:block>
</html>
