<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title> 휴면회원관리 화면입니다  :) </title>
</th:block>
<th:block layout:fragment="customContents">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>휴면회원 관리 - 이승연</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">member</a></li>
              <li class="breadcrumb-item active">dormantMember</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">휴면회원 리스트</h3>
              </div>
              <!-- /.card-header -->
              
              <div class="card-body table-responsive">
                <div class="row">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
	                <tr>
	                  <th>번호</th>
	                  <th>아이디</th>
	                  <th>이름</th>
	                  <th>이메일</th>
	                  <th>성별</th>
	                  <th>생년월일</th>
	                  <th>회원가입시각</th>
	                  <th>휴면계정 전환날짜</th>
	                </tr>
                  </thead>
                  <tbody>
	                <tr th:each=" dm, i : ${getDormantMemberList}">
	                  <th>[[${i.count}]]</th>
	                  <th>[[${dm.mId}]]</th>
	                  <th>[[${dm.mName}]]</th>
	                  <th>[[${dm.mEmail}]]</th>
	                  <th>[[${dm.mGender}]]</th>
	                  <th>[[${dm.mBirth}]]</th>
	                  <th>[[${dm.mRegDate}]]</th>
	                  <th>[[${dm.mDormantRegDate}]]</th>
	                </tr>
	              </tbody>
                </table>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  </div>
</th:block>

<th:block layout:fragment="customFooterScript">
	<script>

	</script>	
</th:block>
</html>
