<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>myPage</title>
</th:block>
<th:block layout:fragment="customContents">
	<div class="content-wrapper">
		<h1>
		<img src="../../dist/img/avatar2.png" alt="dd" class="img-circle">
		<div>회원아이디</div>
		</h1>
		<h1>
		<div>자기소개</div>
		</h1>
		<h1>
		<div>리뷰보기, 여행계획, 여행기록</div>
		</h1>
		
			
    <style>
      h1 {
        margin: 30px;
        border: 5px solid #dddddd;
        padding: 30px;
      }
    </style>
  	</div>
  <!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="customFooterScript">
	<script>
		/*
			실제 구현부는 여기서 default 는 빈 틀만 꼮!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!써놓고 
			구현은 제발 여기서!!!!!!!!!!!!!!!!!!!!!!!!!!!!
			안그러면 충!!!!!!!!!!!!돌!!!!!!!!!!!!나!!!!!!!!!!!!!!!!!!!!!!!!!!!
		*/
	</script>	
</th:block>
</html>
