<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>myPage</title>
</th:block>
<th:block layout:fragment="customContents">
  <div class="content-wrapper">
  <section class="content-header">
    <!-- Content Header (Page header) -->

      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="fas fa-star">profile</h1><h1 class="fas fa-star"></h1>
          </div>  
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div> 
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image --> 
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="../../dist/img/avatar6.jpg"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">종일이</h3>

                <p class="text-muted text-center">아이디</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Followers</b> <a class="float-right">100</a>
                    <button type="button" class="btn btn-default" onclick="location.href='/followers'">
                  	<i class="fas fa-search"></i>
                      </button>
                  </li>
                  
                  <li class="list-group-item">
                    <b>Following</b> <a class="float-right">120</a>
                    
                    <button type="button" class="btn btn-default" onclick="location.href='/following'">
                  	<i class="fas fa-search"></i>
                      </button>
                  </li>
                  <li class="list-group-item">
                    <b>my point</b> <a class="float-right">2000</a>
                    <button type="button" class="btn btn-default" onclick="location.href='/pointUse'">
                  	<i class="fas fa-search" data-toggle="modal"></i>
                      </button>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>Follow/unFollow</b></a>
                <a href="#" class="btn btn-primary btn-block"><b>쪽지 보내기</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-pencil-alt mr-1"></i> 한줄 자기소개</strong>

                <p class="text-muted">
                 	안녕, 나를 소개하지
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i>주소</strong>

                <p class="text-muted">전주 싱시가지</p>

                <hr>
                
                 <strong><i class="fas fa-map-marker-alt mr-1"></i>이메일</strong>

                <p class="text-muted">minsu@naver.com</p>

                <hr>
                
                 <strong><i class="fas fa-map-marker-alt mr-1"></i>성별</strong>

                <p class="text-muted">남</p>

                <hr>
                
                 <strong><i class="fas fa-map-marker-alt mr-1"></i>전화번호</strong>

                <p class="text-muted">01010101010</p>

                <hr>
                
                 <strong><i class="fas fa-map-marker-alt mr-1"></i>가입날짜</strong>

                <p class="text-muted">2010</p>

                <hr>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">내 리뷰보기</a></li>
                  <li class="nav-item"><a class="nav-link" href="#aa" data-toggle="tab">내 여행 계획</a></li>
                  <li class="nav-item"><a class="nav-link" href="/tripMemo">내 여행 기록</a></li>
                  <li class="nav-item"><a class="nav-link" href="#goodsBuyList" data-toggle="tab">상품 구매내역</a></li>
                  <li class="nav-item"><a class="nav-link" href="/receivedMsgList">쪽지 보관함</a></li>
                  <li class="nav-item"><a class="nav-link" href="/updateMember">프로필 수정</a></li>
                  <li class="nav-item"><a class="nav-link" href="#myGoodsAlliance" data-toggle="tab">내 상품관리(제휴업체만)</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                
                  <div class="tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                      <h1 align="center" style="color:#819FF7">궁금한 목록을 선택하세요!</h1>

                    </div>
                    <!-- /.post -->
                  </div>
                  <!-- /.tab-pane -->
                  
                  <div class="active tab-pane" id="timeline">
                    <!-- The timeline -->
                    <div class="timeline timeline-inverse">
                      <!-- timeline time label -->
                     
                      <!-- /.timeline-label -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-user bg-info"></i>

                        <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 12:05</span>

                          <h3 class="timeline-header"><a href="#">강민수</a>님이 게시글에 리뷰를 남겼습니다.</h3>
							<div class="timeline-body">
                            <img src="http://placehold.it/150x100" alt="...">
                            <img src="http://placehold.it/150x100" alt="...">
                            <img src="http://placehold.it/150x100" alt="...">
                          </div>
                          <strong class="timeline-body" >
                            	제목
                          </strong>
                          <div class="timeline-body">
                            	내용
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-warning btn-flat btn-sm">별점 평균</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>
                        <i class="fas fa-user bg-info"></i>

                       <div class="timeline-item">
                          <span class="time"><i class="far fa-clock"></i> 12:05</span>

                          <h3 class="timeline-header"><a href="#">이승환</a>님의 게시글에 리뷰를 남겼습니다.</h3>
							<div class="timeline-body">
                            <img src="http://placehold.it/150x100" alt="...">
                            <img src="http://placehold.it/150x100" alt="...">
                            <img src="http://placehold.it/150x100" alt="...">
                          </div>
                          <div class="timeline-body">
                            	후..
                          </div>
                          <div class="timeline-footer">
                            <a href="#" class="btn btn-warning btn-flat btn-sm">별점 평균</a>
                          </div>
                        </div>
                      </div>
                      <!-- END timeline item -->
                      <!-- timeline item -->
                      <div>

                      </div>
                      <!-- END timeline item -->
 
                     
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                    </div>
                  </div>
                  
                  <div class="tab-pane" id="aa">
                    	ㄱㄱ
                  </div>

				 
                  
                  <div class="tab-pane" id="goodsBuyList">
                    <div class="card">

              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>상품번호</th>
                    <th>상품분류</th>
                    <th>상품이름</th>
                    <th>상품가격</th>
                    <th>상품구매일자</th>
                    <th>구매 취소</th>
                  </tr>
                  </thead>
                  <tbody>
                 <tr>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td><a class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-primary"><b>구매 취소</b></a></td>
                  </tr>
                  <tr>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td><a class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-primary"><b>구매 취소</b></a></td>
                  </tr>
                  <tr>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td><a class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-primary"><b>구매 취소</b></a></td>
                  </tr>
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>
                	<div class="modal fade" id="modal-primary">
			        <div class="modal-dialog">
			          <div class="modal-content bg-primary">
			            <div class="modal-header">
			              <h4 class="modal-title">구매 취소</h4>
			              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                <span aria-hidden="true">&times;</span></button>
			            </div>
			            <div class="modal-body">
			              <p>구매가 정상적으로 취소되었습니다&hellip;</p>
			            </div>
			            <div class="modal-footer justify-content-between">
			              <button   onclick="location.href='/myPage'" type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
			            </div>
			          </div>
			          <!-- /.modal-content -->
			        </div>
			        <!-- /.modal-dialog -->
			      </div>
			      <!-- /.modal -->
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            
            <div class="tab-pane" id="myGoodsAlliance">
                    <div class="card">

              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>상품번호</th>
                    <th>상품분류</th>
                    <th>상품이름</th>
                    <th>상품가격</th>
                    <th>상품등록일자</th>
                    <th>자세히보기</th>
                    <th>판매유무</th>
                  </tr>
                  </thead>
                  <tbody>
                 <tr>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td><button type="button" onclick="location.href='detailGoodsAllience'" class="btn btn-default">
                  	<i class="fas fa-search"></i>
                      </button></td>
                     <td>ㅇㅇ</td>
                  </tr>
                  <tr>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td><button type="button" onclick="location.href='detailGoodsAllience'" class="btn btn-default">
                  	<i class="fas fa-search"></i>
                      </button></td>
                     <td>ㅇㅇ</td>
                  </tr>
                  <tr>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td>ㅇㅇ</td>
                    <td><button type="button" onclick="location.href='detailGoodsAllience'" class="btn btn-default">
                  	<i class="fas fa-search"></i>
                      </button></td>
                     <td>ㅇㅇ</td>
                  </tr>
                  </tbody>
                </table>
              
                <div class="col-sm-7">
                	<br>
            		<ol class="breadcrumb float-sm-right">
            			<a href="/addGoods" class="btn btn-primary btn-block"><b>새 상품등록</b></a>
           		 	</ol>
         		</div>
                	<div class="modal fade" id="modal-primary">
			        <div class="modal-dialog">
			          <div class="modal-content bg-primary">
			            <div class="modal-header">
			              <h4 class="modal-title">구매 취소</h4>
			              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                <span aria-hidden="true">&times;</span></button>
			            </div>
			            <div class="modal-body">
			              <p>구매가 정상적으로 취소되었습니다&hellip;</p>
			            </div>
			            <div class="modal-footer justify-content-between">
			              <button   onclick="location.href='/myPage'" type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
			            </div>
			          </div>
			          <!-- /.modal-content -->
			        </div>
			        <!-- /.modal-dialog -->
			      </div>
			      <!-- /.modal -->
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            
          </div>
        </div>

       </div>
       <!-- /.tab-content -->
     </div><!-- /.card-body -->
   </div><!-- /.nav-tabs-custom -->
 </div>
 <!-- /.col -->
</div>
<!-- /.row -->

</th:block>
<th:block layout:fragment="customFooterScript">
<script src="../../dist/js/demo.js"></script>
	<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</th:block>
</html>
