<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>index 화면 입니다 :)</title>
<style>
.button{
	text-align: center;
}
.info{
	padding-left: 10px;
}

.mylink{
	font-size:30px;
 	border-radius: 15px;	
}
</style>
</th:block>
<th:block layout:fragment="customContents">

	<div class="content-wrapper">

		 <div class="container-fluid" style="margin-bottom:10px;margin-top:10px;">
			<div class="row mb-2">
				<div class="col-sm-6">
					<a  type="button" href="/main" class="btn btn-outline-warning btn-sm mylink" >TravelMaker</a>
					<a  type="button" href="https://blog.naver.com/ahreum0412" class="btn btn-outline-warning btn-sm mylink" >Blog 바로가기</a>
					<a type="button" href="https://ahkong.github.io/" class="btn btn-outline-warning btn-sm mylink">프로필페이지 바로가기</a>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">index</a></li>
						<li class="breadcrumb-item active">info.html</li>
					</ol>
				</div>
			</div>
		</div>
			<div class="col-12">
				<h4 ><strong>김아름 담당역할</strong></h4>
				<div class=" info-box bg-light info">
				◎팀장 <br>
                - 회의 진행, 일정관리, 인원관리, 전체파일 관리, 전체업무 파악 및 업무분장, 개발문서 관리 <br>
               	◎공통 <br>
               - 공통 layout/ file upload, mail, ajax등 공통 기능 모듈화<br>
               	◎Hoisting <br>
               - cafe24를 이용한 프로젝트 호스팅 계정관리 및 URL연결 작업 및 프로젝트 배포 업무수행 <br>
               - github 계정관리 및 프로젝트 관리 <br>
               	◎업무 프로세스<br>
               - 관리자, 회원/비회원, 제휴업체 권한에 맞는 업무 프로세스 작성 <br>
               	◎회원 가입<br>
               - 회원가입시 입력 데이터에 대한 정규식 규현<br>
               - 비밀번호,전화번호,이메일에 대한 암호화 구현<br>
               	◎로그인<br>
               - 로그인시 DB에 있는 비밀번호 복호화 하여 입력값과 일치여부 확인 <br>
               - 휴면계정 로그인시 등록한 이메일을 통한 본인인증 후 일반회원 계정으로 권한 변경 및 로그인 <br>
               	◎관광명소/음식점  <br>
               - 관광명소/음식점 등록/수정/삭제/조회 <br>
               - 리뷰 평균 평점수, 리뷰수 기준으로 지역별 best3 조회 <br>
               	◎Open API 활용 <br>
               - 카카오 지도 API를 활용하여 관광명소/음식점 등록시 주소를 위도,경도 값으로 자동 변환 <br>
               - 관광명소/음식점 주변의 편의시설들에 대한 정보 제공 <br>
               	◎리뷰 관리 <br>
               - 관광명소/음식점에 대한 리뷰 작성/수정/삭제 <br>
               - 리뷰에 도움이 되요 기능(좋아요)<br>
               - 리뷰 댓글/작성/삭제/조회 <br>
                                               ◎메시지 관리<br>
               - 메시지 작성/삭제/수신,발신,삭제 메시지 리스트 조회<br>
               	◎신고 관리<br>
               - 리뷰에 대한 신고 및 신고 처리 <br>
				
				</div>
			</div>
				
			</div>
			<div>
			</div>



	<!-- /.content-wrapper -->

</th:block>

</html>
