<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>index 화면 입니다  :)</title>
	<style>
#recommend{
	margin-left: 20px;
}
#myTripA{
	text-align: conter;
	padding-top: 85px;
	padding-bottom: 85px;
}
#img{
	background-image: url(img/bg-masthead.jpg);
	background-position: top;
	background-size: 100%;
	padding-bottom: 280px;
	
}
#searchBtn{
	margin-top: 90px;
}

#searchText{
	margin-top: 90px;
	margin-left: 300px;
}

#h1{
	padding-top: 100px;
	text-align: center;
}
</style>
</th:block>
<th:block layout:fragment="customContents">
	
	<div class="content-wrapper">
		<div id="img">
		<div id="h1">
		<h1>TravelMaker</h1>
    	</div>
    	
    	<section class="content">
			
				<div class="row">
					<div class="col-10 col-md-7 col-lg-10">
					  <div class="input-group">
					    <input type="text" class="form-control" placeholder="Search for..." id="searchText">
					    <span class="input-group-btn">
					      <button class="btn btn-default" type="button" id="searchBtn">Go!</button>
					    </span>
					  </div>
					</div>
				</div>
	   		
    	</section>
 		</div>
 		<div id="recommend">
 			<h3>추천 여행지 top3</h3>
 		</div>
 <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-4 col-7">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
				<div data-toggle="modal" data-target="#myModal">
					<div id="root">
						<div id="myTripA">
							<a>내여행 만들기</a>
						</div>
					</div>
				</div>
              </div>
              <div class="icon" data-toggle="modal" data-target="#myModal">
                <i class="ion ion-bag"></i>
              </div>
              
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-7">
            <!-- small box -->
            <div class="small-box">
               <div class="inner">
				<div>
					<div id="root">
						<div id="myTripA">
							<a>내여행 1</a>
						</div>
					</div>
				</div>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-7">
            <!-- small box -->
            <div class="small-box">
              <div class="inner">
				<div>
					<div id="root">
						<div id="myTripA">
							<a>내여행 2</a>
						</div>
					</div>
				</div>
              </div>
            </div>
          </div>
            </div>
          </div>
          <!-- ./col -->
    </section>
        </div>

  <!-- /.content-wrapper -->
 		
	

  <!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="customFooterScript">
	<script>
		/*
			실제 구현부는 여기서 default 는 빈 틀만 꼮!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!써놓고 
			구현은 제발 여기서!!!!!!!!!!!!!!!!!!!!!!!!!!!!
			안그러면 충!!!!!!!!!!!!돌!!!!!!!!!!!!나!!!!!!!!!!!!!!!!!!!!!!!!!!!
		*/
	</script>	
</th:block>
</html>
