<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.CommentsMapper">
	<resultMap type="ResReviewComments" id="resReviewCommentsResultMap">
		<result property="commentsNum" column="res_comment_num" />
		<result property="resReviewNum" column="res_review_num" />
		<result property="commentsContents" column="comment_contents" />
		<result property="commentsRegDate" column="comment_reg_date" />
		<association property="member" javaType="Member">
			<result property="mId" column="m_id"/>
			<result property="mAvatar" column="m_avatar"/>
		</association>
	</resultMap>
	
	<insert id="addResReviewComments" parameterType="ResReviewComments">
		<selectKey order="BEFORE" keyProperty="commentsNum" resultType="String">
			SELECT
				(case COUNT(*) 
				when 0 then 'res_comment_1'
				ELSE CONCAT('res_comment_', (MAX(CAST(substring(res_comment_num,13) AS DECIMAL))+1))
				END) AS commentsNum
			FROM 
				tb_res_comment
		</selectKey>
			INSERT INTO 
				tb_res_comment(
					res_comment_num,
				    m_id,
				    res_review_num,
				    comment_contents
		   ) VALUES (
		   			#{commentsNum},
		   			#{member.mId},
		   			#{resReviewNum},
		   			#{commentsContents}
		   			)
	</insert>		
	<select id="getResReivewComments" parameterType="String" resultMap="resReviewCommentsResultMap"> 
		SELECT 
	 		c.*, m.m_avatar
		FROM 
			tb_res_comment AS c
		INNER JOIN 
			tb_member AS m 
		ON
		    c.m_id = m.m_id
		WHERE
			c.res_comment_num = ${commentsNum}
	</select>
	
	<select id="getResCommentsList" parameterType="String" resultMap="resReviewCommentsResultMap"> 
		SELECT 
	 		c.*, m.m_avatar
		FROM 
			tb_res_comment AS c
		INNER JOIN 
			tb_member AS m 
		ON
		    c.m_id = m.m_id
		WHERE
			c.res_review_num = #{resReviewNum}
		ORDER BY 
		 	c.comment_reg_date DESC 
	</select>
</mapper>