<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.CommentsMapper">
	<resultMap type="ResReviewComments" id="resReviewCommentsResultMap">
		<result property="commentsNum" column="res_comment_num" />
		<result property="reviewNum" column="res_review_num" />
		<result property="commentsContents" column="comment_contents" />
		<result property="commentsRegDate" column="comment_reg_date" />
		<association property="member" javaType="Member">
			<result property="mId" column="m_id"/>
			<result property="mAvatar" column="m_avatar"/>
		</association>
	</resultMap>
	
	<resultMap type="SightsReviewComments" id="sightsReviewCommentsResultMap">
		<result property="commentsNum" column="sights_comment_num" />
		<result property="reviewNum" column="sights_review_num" />
		<result property="commentsContents" column="sights_comment_contents" />
		<result property="commentsRegDate" column="sights_comment_reg_date" />
		<association property="member" javaType="Member">
			<result property="mId" column="m_id"/>
			<result property="mAvatar" column="m_avatar"/>
		</association>
	</resultMap>
	
	<insert id="addResReviewComments" parameterType="ResReviewComments">
		<selectKey order="BEFORE" keyProperty="commentsNum" resultType="String">
			SELECT
				(case COUNT(*) 
				when 0 then 'res_comment_1'
				ELSE CONCAT('res_comment_', (MAX(CAST(substring(res_comment_num,13) AS DECIMAL))+1))
				END) AS commentsNum
			FROM 
				tb_res_comment
		</selectKey>
			INSERT INTO 
				tb_res_comment(
					res_comment_num,
				    m_id,
				    res_review_num,
				    comment_contents
		   ) VALUES (
		   			#{commentsNum},
		   			#{member.mId},
		   			#{reviewNum},
		   			#{commentsContents}
		   			)
	</insert>
	
			
	<select id="getResReivewComments" parameterType="String" resultMap="resReviewCommentsResultMap"> 
		SELECT 
	 		c.*, m.m_avatar
		FROM 
			tb_res_comment AS c
		INNER JOIN 
			tb_member AS m 
		ON
		    c.m_id = m.m_id
		WHERE
			c.res_comment_num = ${commentsNum}
	</select>
	
	<select id="getResCommentsList" parameterType="String" resultMap="resReviewCommentsResultMap"> 
		SELECT 
	 		c.*, m.m_avatar
		FROM 
			tb_res_comment AS c
		INNER JOIN 
			tb_member AS m 
		ON
		    c.m_id = m.m_id
		WHERE
			c.res_review_num = #{resReviewNum} and c.comment_active='Y'
		ORDER BY 
		 	c.comment_reg_date DESC 
	</select>
	
	<update id="deleletResReviewComments" parameterType="String">
		UPDATE 
			tb_res_comment
		SET
			comment_active='N'
		WHERE
			res_comment_num = #{commentsNum}
	</update>
	
	<insert id="addSightsReviewComments" parameterType="SightsReviewComments">
		<selectKey order="BEFORE" keyProperty="commentsNum" resultType="String">
			SELECT
				(case COUNT(*) 
				when 0 then 'sights_comment_1'
				ELSE CONCAT('sights_comment_', (MAX(CAST(SUBSTRING(sights_comment_num,16) AS DECIMAL))+1))
				END) AS commentsNum
			FROM 
				tb_sights_comment
		</selectKey>
		INSERT INTO
			 tb_sights_comment(
			 	sights_comment_num,
			 	m_id,
			 	sights_review_num, 
			 	sights_comment_contents
		 ) VALUES (
		 	#{commentsNum},
		   	#{member.mId},
		   	#{reviewNum},
		   	#{commentsContents}
		 )
	</insert>
	
	<select id="getSightsCommentsList" parameterType="String" resultMap="sightsReviewCommentsResultMap"> 
		SELECT 
	 		s.*, m.m_avatar
		FROM 
			tb_sights_comment AS s
		INNER JOIN 
			tb_member AS m 
		ON
		    s.m_id = m.m_id
		WHERE
			s.sights_review_num = #{sightsReviewNum} AND s.sights_comments_active='Y'
		ORDER BY 
		 	s.sights_comment_reg_date DESC
	</select>
	
	<update id="deleletSightsReviewComments" parameterType="String">
		UPDATE 
			tb_sights_comment
		SET
			sights_comments_active='N'
		WHERE
			sights_comment_num = #{commentsNum}
	</update>
	
</mapper>