<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.FeedbackMapper">
	<resultMap type="FeedbackSights" id="feedbackSelect">
		<result property="fbSightsNum" column="fb_sights_num" />
		<result property="fbSightsContents" column="fb_sights_contents" />
		<result property="fbSightsRegDate" column="fb_sights_reg_date" />
		<result property="fbSightsCheck" column="fb_sights_check" />
		<association property="member" javaType="Member">
			<result property="mId" column="m_id"/>
		</association>
		<association property="fbCode" javaType="FbCode">
			<result property="fbCodeNum" column="fb_code_num"/>
			<result property="fbReason" column="fb_reason"/>
		</association>
		<association property="sights" javaType="Sights">
			<result property="sightsNum" column="sights_num"/>
			<result property="sightsName" column="sights_name"/>
		</association>
	</resultMap>
	
	<resultMap type="FbCode" id="fbCodeSelect">
		<result property="fbCodeNum" column="fb_code_num"/>
		<result property="fbReason" column="fb_reason"/>
	</resultMap>
	
	<select id="formFeedback" resultType="String" resultMap="fbCodeSelect">
		SELECT 
			 fb_code_num
			,fb_reason
		FROM
			tb_fb_code;
	</select>
	
	
	<update id="acceptFeedback" parameterType="String">
		UPDATE tb_fb_sights
		SET
			fb_sights_check = #{fbSightsCheck}
		WHERE 
			fb_sights_num = #{fbSightsNum};
	</update>
	
	
	<select id="feedbackList" resultType="String" resultMap="feedbackSelect">
		SELECT 
			 f.fb_sights_num, f.fb_sights_reg_date, s.sights_name, SUBSTRING(f.fb_code_num,9) AS fb_code_num
			, c.fb_reason, f.fb_sights_contents, f.m_id, f.fb_sights_check
		FROM 
			tb_fb_sights AS f
			INNER JOIN 
				tb_sights AS s ON f.sights_num = s.sights_num
			INNER JOIN 
				tb_fb_code AS c ON f.fb_code_num = c.fb_code_num
		ORDER BY fb_sights_reg_date ASC;
	</select>


	<insert id="addFeedback" parameterType="FeedbackSights">
		<selectKey order="BEFORE" keyProperty="fbSightsNum" resultType="String">
			<!-- keyProperty="sightsFbNum" 는 select 의  sightsFbNum 와 이름이 같아야 한다  -->
			<!--  또한 FeedbackSights 클래스의 fb_sights_num 컬럼의 변수명과 같아야 한다  -->
			SELECT
				(case COUNT(*) 
				when 0 then 'fb_sights_1'
				ELSE CONCAT('fb_sights_', (MAX(CAST(substring(fb_sights_num,11) AS DECIMAL))+1))
				END) AS fbSightsNum
			FROM
				tb_fb_sights
		</selectKey>
			INSERT INTO tb_fb_sights
			(fb_sights_num, fb_sights_reg_date, sights_num, fb_code_num, fb_sights_contents, m_id, fb_sights_check)			
			
			VALUES ( #{fbSightsNum}
					,now()
					,#{sights.sightsNum}
					,#{fbCode.fbCodeNum}
					,#{fbSightsContents}
					,#{member.mId}
					,#{fbSightsCheck}
					);
	</insert>
	
</mapper>