<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.FestivalMapper">
	<resultMap type="Festival" id="fesSelect">
		<result property="fesNum" column="fes_num" />
		<result property="fesName" column="fes_name" />
		<result property="fesPhoto" column="fes_photo" />
		<result property="fesStartDate" column="fes_start_date" />
		<result property="fesEndDate" column="fes_end_date" />
		<result property="fesDetail" column="fes_detail" />
		<result property="fesWeb" column="fes_web" />
		<result property="fesRegDate" column="fes_reg_date" />
		<result property="fesState" column="fes_state" />
		<association property="member" javaType="Member">
			<result property="mId" column="m_id"/>
		</association>
	</resultMap>
	
	
	<delete id="deleteFestival" parameterType="String">
		DELETE
		FROM tb_festival
		
		<where>
			<if test="fesNum != null and fesNum != ''.toString()">fes_num=#{fesNum}</if>
		</where>
		
	</delete>
	
		
	<select id="getFestivalList" parameterType="String" resultMap="fesSelect">
		SELECT
			 fes_num
			,m_id
			,fes_name		
			,fes_photo
			,fes_start_date		
			,fes_end_date
			,fes_detail
			,fes_web
			,fes_reg_date
			,fes_state
		FROM tb_festival;
	</select>
	
	
	<update id="updateFestival" parameterType="Festival">
		UPDATE tb_festival
		<trim prefix="SET" suffixOverrides=",">
			<if test="fesName != null and fesName != ''.toString()">fes_name=#{fesName},</if>
			<if test="fesName != null and fesName != ''.toString()">m_id=#{member.mId},</if>
			fes_photo=#{fesPhoto},
			<if test="fesStartDate != null and fesStartDate != ''.toString()">fes_start_date=#{fesStartDate},</if>
			<if test="fesEndDate != null and fesEndDate != ''.toString()">fes_end_date=#{fesEndDate},</if>
			<if test="fesDetail != null and fesDetail != ''.toString()">fes_detail=#{fesDetail},</if>
			<if test="fesWeb != null and fesWeb != ''.toString()">fes_web=#{fesWeb},</if>
			<if test="fesRegDate != null and fesRegDate != ''.toString()">fes_reg_date=#{now()},</if>
			<if test="fesState != null and fesState != ''.toString()">fes_state=#{fesState}</if>
		</trim>
		<where>
			<if test="fesNum != null and fesNum != ''.toString()">fes_num=#{fesNum}</if>
		</where>
		
	</update>
	
	
	<select id="festivalSelect" parameterType="String" resultMap="fesSelect">
		SELECT
			 fes_num
			,m_id
			,fes_name		
			,fes_photo
			,fes_start_date		
			,fes_end_date
			,fes_detail
			,fes_web
			,fes_reg_date
			,fes_state
		FROM tb_festival
		WHERE fes_num = #{fesNum};
	</select>
	
	
	<insert id="addFestival" parameterType="Festival">
		<selectKey order="BEFORE" keyProperty="fesNum" resultType="String">
		<!-- keyProperty="fesNum" 는 select 의  fesNum 와 이름이 같아야 한다  -->
		<!--  또한 Goods 클래스의 g_code 컬럼의 변수명과 같아야 한다  -->
			SELECT
				(case COUNT(*)
				when 0 then 'fes_1'
				ELSE CONCAT('fes_', (MAX(CAST(substring(fes_num,5) AS DECIMAL))+1))
				END) AS fesNum
			FROM
				tb_festival;
		</selectKey>
			INSERT INTO tb_festival
			(fes_num, m_id, fes_name, fes_photo, fes_start_date, fes_end_date, fes_detail, fes_web, fes_reg_date, fes_state)			
			
			VALUES ( #{fesNum}	
					,#{member.mId}
					,#{fesName}
					,#{fesPhoto}
					,#{fesStartDate}
					,#{fesEndDate}
					,#{fesDetail}
					,#{fesWeb}
					,now()
					,#{fesState}
					);
	</insert>
	
</mapper>