<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.GoodsMapper">
	
	<select id="getGoodsResultList" resultType="Goods">
		SELECT 
	  g_num AS goodsCode
	, m_id	AS memberId
	, g_photo AS goodsPhoto
	, g_cate	AS goodsCate
	, g_name	AS goodsName
	, g_point AS goodsPrice
	, g_detail AS goodsDetail
	, g_reg_date AS goodsRegDate
	, g_amount as goodsAmount
	, g_sale_yesno as goodsSaleYesNo
	FROM tb_Alliance_g
	</select>
	
	<select id="getGoodsInfo" resultType="Goods">
		SELECT
	  g.g_num AS goodsCode 
	,  g.g_photo AS goodsPhoto
	, g.g_name AS goodsName 
	, g.g_detail AS goodsDetail
	, g.m_id	AS memberId
	, g.g_cate	AS goodsCate
	, g.g_point AS goodsPrice
	, g.g_reg_date AS goodsRegDate
	, g_amount as goodsAmount
	, g_sale_yesno as goodsSaleYesNo
	, m.m_name AS memberName
	FROM 
	tb_Alliance_g as g
	INNER JOIN
	tb_member as m
	on
	g.m_id = m.m_id
	WHERE g_num = #{goodsCode}
	</select>
	
	<select id="getMyGoodsList" parameterType="String" resultType="Goods">
		SELECT 
			g_num AS goodsCode
			, m_id AS memberId
			, g_photo AS goodsPhoto 
			, g_cate AS goodsCate
			, g_name AS goodsName
			, g_point AS goodsPrice
			, g_detail AS goodsDetail
			, g_reg_date AS goodsRegDate
			, g_sale_yesno as goodsSaleYesNo
			, g_amount as goodsAmount
		FROM 
			tb_Alliance_g
		WHERE
			m_id=#{mId};
	</select>
	
	<insert id="addGoods" parameterType="Goods">
	<selectKey order="BEFORE" keyProperty="goodsCode" resultType="String">
		SELECT
			case COUNT(*)
			WHEN 0 THEN 'g001'
			ELSE CONCAT('g00', MAX(CAST(SUBSTRING(g_num,4) AS DECIMAL))+1)
			END AS g_num
		FROM
			tb_Alliance_g
	</selectKey>
		INSERT INTO tb_Alliance_g
	(g_num, m_id, g_photo, g_cate, g_name, g_point, g_detail, g_reg_date, g_sale_yesno, g_amount)
	VALUES (#{goodsCode}, #{memberId}, #{goodsPhoto}, #{goodsCate}, #{goodsName}, #{goodsPrice}, #{goodsDetail}, NOW(), "판매중", #{goodsAmount});
	</insert>
	
	<delete id="deleteGoods" statementType="CALLABLE">
		CALL delete_Alliance_g(#{gCode})
	</delete>
	
	<update id="goodsModify" parameterType="String">
		UPDATE 
			tb_Alliance_g
		SET
			g_cate=#{goodsCate},
			g_name=#{goodsName},
			g_point=#{goodsPrice},
			g_detail=#{goodsDetail},
			g_amount=#{goodsAmount}
		WHERE 
			g_num=#{goodsCode}
	</update>
	
	<insert id="goodsBuy" parameterType="Goods">
		<selectKey keyProperty="goodsBuyCode" resultType="String" order="BEFORE">
			SELECT
				case COUNT(*)
				WHEN 0 THEN 'g_b_001'
				ELSE CONCAT('g_b_00', MAX(CAST(SUBSTRING(g_b_num,7) AS DECIMAL))+1)
				END AS goodsBuyCode
			FROM
				tb_goods_buyer
		</selectKey>
		INSERT INTO 
			tb_goods_buyer
			(g_b_num, g_photo, g_name, g_cate, g_num, g_point, m_id, g_b_date, g_b_amount)
		VALUES (#{goodsBuyCode}, #{goodsPhoto}, #{goodsName}, #{goodsCate}, #{goodsCode}, #{goodsPayPrice}, #{memberId}, NOW(), #{goodsBuyAmount});
		</insert>
		
	<update id="updateGoodsAmount" parameterType="Goods">
		UPDATE 
			tb_Alliance_g
		SET
			g_amount= g_amount - #{goodsBuyAmount}
		WHERE 
			g_num=#{goodsCode}
	</update>
	
	<select id="getGAmount" parameterType="Goods" resultType="int">
		SELECT 
			 g_amount as goodsAmount
		FROM 
			tb_Alliance_g
		WHERE
			g_num=#{goodsCode};
	</select>
	<update id="updateYesNo" parameterType="Goods">
		UPDATE 
			tb_Alliance_g
		SET
			g_sale_yesno = '판매종료'
		WHERE 
			g_num=#{goodsCode}
	</update>
	
	<select id="getMyBuyGoods" parameterType="String" resultType="Goods">
		SELECT 
			g_num as goodsCode
			, g_b_num as goodsBuyCode
			, g_name as goodsName
			, g_point as goodsPayPrice
			, g_b_date as goodsBuyDate
			, g_b_amount as goodsBuyAmount
		FROM 
			tb_goods_buyer
		WHERE
			m_id=#{mId};
	</select>
	
	<delete id="GoodsBuyDelete" parameterType="String">
		DELETE FROM tb_goods_buyer WHERE g_b_num=#{goodsBuyCode};
	</delete>
	
	<update id="deleteGoodsAmount" parameterType="Goods">
	UPDATE 
		tb_Alliance_g
	SET
		g_amount = g_amount + #{goodsBuyAmount}
	WHERE 
		g_num=#{goodsCode}
	</update>
	
	<update id="goodsBuyDeletePoint" parameterType="Goods">
	UPDATE 
		tb_point_admin
	SET
		point_final_point = point_final_point + #{goodsPayPrice}
	WHERE 
		m_id=#{mId};
	</update>
	
</mapper>