<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.MemberMapper">
 	<resultMap type="Member" id="memberSelect">
 		<result property="mId"  	column="m_id"/>
 		<result property="mPw"   	column="m_pw"/>
 		<result property="mLevel"  column="level_num"/>
 		<result property="mName" 	column="m_name"/>
 		<result property="mEmail"  column="m_email"/>
 		<result property="mTel"  column="m_tel"/>
 		<result property="mGender"  column="m_gender"/>
 		<result property="mBirth"  column="m_birth"/>
 		<result property="mRegDate"  column="m_reg_date"/>
 		<result property="mAvatar"  column="m_avatar"/>
 		<result property="mIntrod"  column="m_introd"/>
 		<result property="mFollow"  column="m_follow"/>
 		<result property="mFollowing"  column="m_following"/>
 		<result property="mAddr"  column="m_addr"/>
 		<result property="dropNum"  column="drop_num"/>
 		<result property="dropReasonCheck"  column="drop_reason_check"/>
 		<result property="dropContents"  column="drop_contents"/>
 		<result property="dropDate"  column="drop_date"/>
 		<result property="mDormantRegDate"  column="m_dormant_reg_date"/>
 		<result property="mDormantCanCelDate"  column="m_dormant_cancel_date"/>
 		<association property="point" javaType="Point">
 			<result property="finalPoint" column="point_final_point"/>
 		</association>
 	</resultMap>
 	
 	<select id="selectDormantMember" resultMap="memberSelect">
 		<![CDATA[
	 		SELECT *
			FROM ( SELECT *
					from tb_member_login
					WHERE log_date <= DATE_ADD( NOW(), INTERVAL -6 MONTH )
					) AS l
					INNER JOIN 
					tb_member AS m
					ON 
					l.m_id = m.m_id;
		]]>
 	</select>
 	
 	<select id="getDormantMemberList" resultMap="memberSelect">
	 	SELECT *
		FROM 
			tb_member
		WHERE 
			level_num = '4';
 	</select>
 	
 	<select id="getDeleteMemberList" resultMap="memberSelect">
 		SELECT m.*, substring(d.drop_num,12) as drop_num, d.drop_reason_check, d.drop_contents, d.drop_date
		FROM 
			tb_member AS m
			INNER JOIN
			tb_member_drop AS d
			ON m.m_id = d.m_id
		WHERE m.level_num = '5';
 	</select>
 	
 	<update id="deleteMember" parameterType="Member">
 		UPDATE
			tb_member
		SET
			level_num = '5'
		WHERE 
			m_id = #{mId};
 	</update>
 	
 	<update id="updateMAvatar" parameterType="Member">
 		UPDATE 
 			tb_member 
 		SET 
 			m_avatar = #{mAvatar}
 		WHERE 
 			m_id=#{mId};
 		
 	</update>
 	
 	<update id="deleteMAvatar" parameterType="Member">
 		UPDATE tb_member
 		<trim prefix="SET">
			<if test="mAvatar != null and mAvatar != ''.toString()">m_avatar=''</if>
		</trim>
		<where>
			<if test="mId != null and mId != ''.toString()">m_id=#{mId}</if>
		</where>
 	</update>
 	
 	<update id="updateMember" parameterType="Member">
	 	UPDATE tb_member
		<trim prefix="SET" suffixOverrides=",">
			<if test="mPw != null and mPw != ''.toString()">m_pw=#{mPw},</if>
			<if test="mTel != null and mTel != ''.toString()">m_tel=#{mTel},</if>
			<if test="mAddr != null and mAddr != ''.toString()">m_addr=#{mAddr},</if>
			<if test="mIntrod != null and mIntrod != ''.toString()">m_introd=#{mIntrod}</if>
		</trim>
		<where>
			<if test="mId != null and mId != ''.toString()">m_id=#{mId}</if>
		</where>
	</update>
	 		
	<insert id="addMember" parameterType="Member">
		INSERT INTO
			 tb_member(m_id, m_pw, level_num, m_name, m_email, m_tel, m_gender, m_birth, m_addr, m_avatar, m_introd)
		   	VALUES (
		   		#{mId},
		   		#{mPw},
		   		2,
		   		#{mName},
		   		#{mEmail},
		   		#{mTel},
		   		#{mGender},
		   		#{mBirth},
		   		#{mAddr},
		   		#{mAvatar},
		   		#{mIntrod}
		   	)
	</insert>
	<select id="mIdCheck" parameterType ="String" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			tb_member
		WHERE 
			m_id = #{mId}
	</select>
	
	<select id="getMemberInfo" parameterType ="String" resultMap="memberSelect">
		SELECT 
   			m.*, p.point_final_point
		FROM
   			tb_member AS m
		INNER JOIN
   			tb_point_admin AS p 
		ON 
 			m.m_id = p.m_id
		WHERE
			m.m_id=#{mId} and m.level_num NOT IN ('5','7')
	</select>
	
	<select id="followersPage" parameterType ="String" resultMap="memberSelect">
		SELECT 
   			m.*, p.point_final_point
		FROM
   			tb_member AS m
		INNER JOIN
   			tb_point_admin AS p 
		ON 
 			m.m_id = p.m_id
		WHERE
			m.m_id=#{mId};
	</select>

	<select id="findId" parameterType = "Member" resultMap="memberSelect">
		SELECT
			m_id
		FROM
			tb_member
		WHERE
			m_name = #{mName}
			and m_tel = #{mTel}
			and m_email = #{mEmail};
	</select>
	
	<select id="findPw" parameterType = "Member" resultMap="memberSelect">
		SELECT
			m_pw
		FROM
			tb_member
		WHERE
			m_id = #{mId}
			and m_tel = #{mTel}
			and m_email = #{mEmail};
	</select>
	
	<insert id="addLoginLog" parameterType ="MemberLogin">
		<selectKey order="BEFORE" keyProperty="logNum" resultType="String">
			SELECT
				case COUNT(*)
				WHEN 0 THEN 'login_1'
				ELSE CONCAT('login_', MAX(CAST(SUBSTRING(log_num,7) AS DECIMAL))+1)
				END AS logNum
			FROM
				tb_member_login  
		</selectKey>
		
		INSERT INTO 
			tb_member_login (log_num,m_id)
		VALUES(
			#{logNum},#{mId}
		)
	
	</insert>
	
	<update id="updateRestMember" parameterType="String">
		UPDATE
			tb_member
		SET
			level_num='2'
		WHERE 
		 m_id =#{mId}
	
	</update>

</mapper>