<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.MemberMapper">
 	<resultMap type="Member" id="memberSelect">
 		<result property="mId"  	column="m_id"/>
 		<result property="mPw"   	column="m_pw"/>
 		<result property="mLevel"  column="level_num"/>
 		<result property="mName" 	column="m_name"/>
 		<result property="mEmail"  column="m_email"/>
 		<result property="mGender"  column="m_gender"/>
 		<result property="mTel"  column="m_tel"/>
 		<result property="mRegDate"  column="m_reg_date"/>
 		<result property="mAvatar"  column="m_avatar"/>
 		<result property="mIntrod"  column="m_introd"/>
 		<result property="mFollow"  column="m_follow"/>
 		<result property="mFollowing"  column="m_following"/>
 		<result property="mAddr"  column="m_addr"/>
 		<association property="point" javaType="Point">
 			<result property="finalPoint" column="point_final_point"/>
 		</association>
 	</resultMap>
	<insert id="addMember" parameterType="Member">
		INSERT INTO
			 tb_member(m_id, m_pw, level_num, m_name, m_email, m_tel, m_gender, m_birth, m_addr, m_avatar, m_introd)
		   	VALUES (
		   		#{mId},
		   		#{mPw},
		   		2,
		   		#{mName},
		   		#{mEmail},
		   		#{mTel},
		   		#{mGender},
		   		#{mBirth},
		   		#{mAddr},
		   		#{mAvatar},
		   		#{mIntrod}
		   	)
	</insert>
	<select id="mIdCheck" parameterType ="String" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			tb_member
		WHERE 
			m_id = #{mId}
	</select>
	
	<select id="getMemberInfo" parameterType ="String" resultMap="memberSelect">
		SELECT 
   			m.*, p.point_final_point
		FROM
   			tb_member AS m
		LEFT OUTER JOIN
   			tb_point_admin AS p 
		ON 
 			m.m_id = p.m_id
		WHERE
			m.m_id=#{mId};
	</select>

	<select id="findId" parameterType = "Member" resultMap="memberSelect">
		SELECT
			m_id
		FROM
			tb_member
		WHERE
			m_name = #{mName}
			and m_tel = #{mTel}
			and m_email = #{mEmail};
	</select>
	
	<select id="findPw" parameterType = "Member" resultMap="memberSelect">
		SELECT
			m_pw
		FROM
			tb_member
		WHERE
			m_id = #{mId}
			and m_tel = #{mTel}
			and m_email = #{mEmail};
	</select>

</mapper>