<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.NoticeMapper">
	
	<insert id="addNotice" parameterType="Notice">
	<selectKey order="BEFORE" keyProperty="noticeNum" resultType="String">
		SELECT
			case COUNT(*)
			WHEN 0 THEN 'notice_1'
			ELSE CONCAT('notice_', MAX(CAST(SUBSTRING(notice_num,8) AS DECIMAL))+1)
			END AS notice_num 
		FROM
			tb_alert  	
	</selectKey>
		INSERT INTO 
			tb_alert (
			 	notice_num,
			 	m_id,
			 	notice_contents
		) VALUES (
			#{noticeNum}, 
			#{mId}, 
			#{noticeContents});
	</insert>
	
	<select id="noticeNum" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tb_alert
		WHERE
			m_id=#{mId} AND notice_check='N';
	</select>
	
</mapper>