<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.PointMapper">
 	<resultMap type="Point" id="pointSelect">
 		<result property="pointNum" column="point_num" />
 		<result property="mId" column="m_id" />
 		<result property="finalPoint" column="point_final_point" />
 		<result property="pointRegDate" column="point_reg_date" />
 		<result property="pointUseNum" column="point_use_num" />
 		<result property="gNum" column="g_num" />
 		<result property="pointUseUsed" column="point_use_used" />
 		<result property="pointUseRegDate" column="point_use_reg_date" />
 		<result property="savePointNum" column="save_point_num" />
 		<result property="savePointCause" column="save_point_cause" />
 		<result property="savePointDetail" column="save_point_detail" />
 		<result property="savePointCharge" column="save_point_charge" />
 		<result property="savePointRegDate" column="save_point_reg_date" />
 		<association property="goods" javaType="Goods">
 			<result property="goodsCode" column="g_num" />
 			<result property="goodsPhoto" column="g_photo" />
 			<result property="goodsCate" column="g_cate" />
 			<result property="goodsName" column="g_name" />
 			<result property="goodsAmount" column="g_amount" />
 		</association>
 		<association property="member" javaType="Member">
 			<result property="mName" column="m_name" />
 			<result property="mGender" column="m_gender" />
 			<result property="mBirth" column="m_birth" />
 		</association>
 	</resultMap>
 	
	<insert	id="savePoint" parameterType="SavePoint">
	<selectKey order ="BEFORE" keyProperty="savePointNum" resultType ="String"> 
	 	 SELECT 
			case COUNT(*)
			when 0 then 'save_point_1'
			ELSE CONCAT('save_point_',MAX(CAST(SUBSTRING(save_point_num,12) AS DECIMAL))+1) 
			END AS save_point_num
		FROM
			tb_point_save 
 	</selectKey>
 		INSERT INTO tb_save_point
			(save_point_num, m_id, save_point_cause, save_point_detail, save_point_charge)
		VALUES (#{savePointNum}, #{mId} ,#{savePointCause} , #{savePointDetail}, #{savePointCharge})
 	</insert>
	
	<select id="isMyPoint" parameterType="String" resultType="int">
		select 
			count(*)
		from 	
			tb_point_use_admin
		where
			 m_id =#{mId}
	</select>
	
	<insert id="addMyPoint" parameterType="Point">
		<selectKey order ="BEFORE" keyProperty="pointNum" resultType ="String"> 
	 	 SELECT 
			case COUNT(*)
			when 0 then 'point_1'
			ELSE CONCAT('point_',MAX(CAST(SUBSTRING(point_num,7) AS DECIMAL))+1) 
			END AS save_point_num
		FROM
			tb_point_admin 
 		</selectKey>
			INSERT INTO tb_point_admin
				(point_num, m_id, point_final_point)
			VALUES (#{pointNum}, #{mId}, #{finalPoint})
	</insert>
	
	<select id="getPointInfo" parameterType="String" resultType="Point">
		SELECT 
			point_final_point AS finalPoint
		FROM 
			tb_point_admin
		WHERE
			m_id=#{mId};
	</select>
	
	<update id="updatePointFinal" parameterType="Goods">
		UPDATE 
			tb_point_admin
		SET
			point_final_point = point_final_point - #{goodsPayPrice}
		WHERE
			m_id=#{memberId};
	</update>
	
	<!-- 마이페이지 - 포인트 사용내역 -->
	<select id="pointUseList" parameterType="String" resultType="Point" resultMap="pointSelect">
		SELECT 
			u.point_use_num, u.m_id, u.point_use_reg_date, g.g_photo, g.g_name, 
			u.point_use_used, g.g_amount
		FROM
			tb_point_use_admin AS u
			INNER JOIN 
				tb_Alliance_g AS g
				ON u.g_num = g.g_num
		WHERE 
			u.m_id = #{loginId};
	</select>
	
	<!-- 마이페이지 - 포인트 적립내역 -->
	<select id="pointSaveList" parameterType="String" resultType="Point" resultMap="pointSelect">
		SELECT 
			m_id, save_point_cause, save_point_detail, 
			save_point_charge, save_point_reg_date
		FROM tb_point_save
		WHERE m_id = #{loginId};
	</select>
	
	<!-- 마이페이지 - 총 소유 포인트 -->
	<select id="getTotalPoint" parameterType="String" resultType="Point" resultMap="pointSelect">
		SELECT 
			point_num, m_id, point_final_point, point_reg_date
		FROM tb_point_admin
		WHERE m_id = #{loginId};
	</select>
	
	<!-- 관리자페이지 - 회원들의 포인트 사용내역 -->
	<select id="pointUseAdminList" resultType="Point" resultMap="pointSelect">
		SELECT 
			SUBSTRING(u.point_use_num, 11), u.m_id, m.m_name, m.m_gender, m.m_birth,
			u.point_use_reg_date, u.point_use_used, g.g_num, g.g_cate, g.g_name, 
			g.g_amount
		FROM
			tb_point_use_admin AS u
			INNER JOIN 
				tb_Alliance_g AS g
				ON u.g_num = g.g_num
			RIGHT OUTER join
				tb_member AS m
				ON u.m_id = m.m_id
		ORDER BY u.point_use_reg_date DESC;
	</select>
	
	<!-- 관리자페이지 - 회원들의 포인트 적립내역 -->
	<select id="pointSaveAdminList" resultType="Point" resultMap="pointSelect">
		SELECT
			SUBSTR(s.save_point_num,12), s.save_point_reg_date, s.m_id, m.m_name,
			m.m_gender, m.m_birth, s.save_point_cause, s.save_point_detail, 
			s.save_point_charge 
		FROM 
			tb_point_save  AS s
			INNER JOIN
				tb_member AS m
				ON s.m_id = m.m_id
		ORDER BY s.save_point_reg_date DESC;
	</select>
	
</mapper>