<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.ResMapper">

	<resultMap type="Res" id="resResultMap">
		<result property ="resNum" column ="res_num"/>
		<result property ="siNum" column ="si_num"/>
		<result property ="mId" column ="m_id"/>
		<result property ="resCateNum" column ="res_cate_num"/>
		<result property ="resName" column ="res_name"/>
		<result property ="resPhoto" column ="res_photo"/>
		<result property ="resDetail" column ="res_detail"/>
		<result property ="resLat" column ="res_lat"/>
		<result property ="resLong" column ="res_long"/>
		<result property ="resAddr" column ="res_addr"/>
		<result property ="resWeb" column ="res_web"/>
		<result property ="resPrice" column ="res_web"/>
		<result property ="resTel" column ="res_tel"/>
		<result property ="resStartTime" column ="res_start_time"/>
		<result property ="resCloseTime" column ="res_close_time"/>	
		<result property ="resRegTime" column ="res_reg_time"/>	
		<association property="resCate" javaType ="ResCate">
 			<result property="resCateNum"  	column="res_cate_num"/>
 			<result property="resType"   	column="res_type"/>
 		</association>
	</resultMap>
	<select id="selectResCate" resultType="ResCate">
		select 
			res_cate_num as resCateNum,
			res_type as resType
		from
			tb_res_cate
	
	</select>
	<insert id="addRes" parameterType="Res">
	  <selectKey order ="BEFORE" keyProperty="resNum" resultType ="String"> 
	 	 SELECT 
			case COUNT(*)
			when 0 then 'res_1'
			ELSE CONCAT('res_',MAX(CAST(SUBSTRING(res_num,5) AS DECIMAL))+1) 
			END AS res_num
		FROM
			tb_res
 	  </selectKey>
 	INSERT INTO 
 		tb_res(
	 		res_num,
	 		si_num,
	 		m_id,
	 		res_cate_num,
	 		res_name,
	 		res_lat,
	 		res_long,
	 		res_photo,
	 	    res_addr,
	 	    res_price,
	 	    res_tel,
	 	    res_web,
	 	    res_detail, 
	 	    res_start_time, 
	 	    res_close_time
  	 ) VALUES (
   			#{resNum},
   			#{siNum},
   			#{mId}, 
   			#{resCateNum},
   			#{resName}, 
   			#{resLat}, 
   			#{resLong}, 
   			#{resPhoto}, 
   			#{resAddr}, 
   			#{resPrice},
			#{resTel}, 
			#{resWeb}, 
			#{resDetail}, 
			#{resStartTime}, 
			#{resCloseTime}
		)
	</insert>
	
	<select id="getResList" parameterType="String" resultMap="resResultMap">
		SELECT 
			r.res_num,
			r.res_name,
			r.res_detail,
			r.res_photo,
			r.res_addr,
			rc.res_cate_num,
			rc.res_type
		FROM 
			tb_res  AS r 
			INNER JOIN tb_si AS si 
			INNER JOIN tb_res_cate AS rc
			ON r.si_num = si.si_num AND rc.res_cate_num = r.res_cate_num
		WHERE 
			si.si_name LIKE CONCAT('%',#{search},'%')	
	</select>
	
</mapper>