<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.ReviewMapper">
	<resultMap type="ResReview" id="resReviewResultMap" >
		<result property ="resReviewNum" column ="res_review_num"/>
		<result property ="resNum" column ="res_Num"/>
		<result property ="resReviewTitle" column ="res_review_title"/>
		<result property ="resReviewContents" column ="res_review_contents"/>
		<result property ="resReviewGrade" column ="res_review_grade"/>
		<result property ="resReviewPhoto" column ="res_review_photo"/>
		<result property ="resReveiwRegDate" column ="res_review_reg_date"/>
		<result property ="resReveiwUpdateDate" column ="res_review_update_date"/>
		<result property ="resVisitDate" column ="res_review_visit_date"/>
		<association property="tripType" javaType ="TripType">
 			<result property="tripTypeNum" column="trip_type_num"/>
 			<result property="tripTypeName"  column="trip_type_name"/>
 		</association>
 		<association property="member" javaType ="Member">
 			<result property="mId" column="m_id"/>
 			<result property="mAvatar"  column="m_avatar"/>
 		</association>
 		<association property="res" javaType ="Res">
 			<result property="mId" column="m_id"/>
 			<result property="resName" column="res_name"/>
 			<result property="resPhoto"  column="res_photo"/>
 		</association>
	</resultMap>
	
	<resultMap type="SightsReview" id="sightsReviewResultMap" >
		<result property ="sightsReviewNum" column ="sights_review_num"/>
		<result property ="sightsNum" column ="sights_Num"/>
		<result property ="sightsReviewTitle" column ="sights_review_title"/>
		<result property ="sightsReviewContents" column ="sights_review_contents"/>
		<result property ="sightsReviewGrade" column ="sights_review_grade"/>
		<result property ="sightsReviewPhoto" column ="sights_review_photo"/>
		<result property ="sightsReveiwRegDate" column ="sights_review_reg_date"/>
		<result property ="sightsReveiwUpdateDate" column ="sights_review_update_date"/>
		<result property ="sightsVisitDate" column ="sights_review_visit_date"/>
		<association property="tripType" javaType ="TripType">
 			<result property="tripTypeNum" column="trip_type_num"/>
 			<result property="tripTypeName"  column="trip_type_name"/>
 		</association>
 		<association property="member" javaType ="Member">
 			<result property="mId" column="m_id"/>
 			<result property="mAvatar"  column="m_avatar"/>
 		</association>
 		<association property="sights" javaType ="Sights">
 			<result property="mId" column="m_id"/>
 			<result property="sightsName" column="sights_name"/>
 			<result property="sightsPhoto"  column="sights_photo"/>
 		</association>
	</resultMap>
	
	<select id="getResReviewInfo" resultMap ="resReviewResultMap">
		select 
			*
		from
			tb_res_review
		where 
			res_review_num = #{resReviewNum}
	</select>
	
	
	<select id="getSightsReviewInfo" resultMap ="sightsReviewResultMap">
		select 
			*
		from
			tb_sights_review
		where 
			sights_review_num = #{sightsResNum}
	</select>
	
     <select id="selectTripTypeList" resultType="TripType">
     	SELECT 
     		trip_type_num as tripTypeNum,
     		trip_type_name as tripTypeName
     	FROM
     		tb_trip_type
     </select>  
     
     <insert id="addResReview" parameterType="ResReview">
     	  <selectKey order ="BEFORE" keyProperty="resReviewNum" resultType ="String"> 
		 	 SELECT 
				case COUNT(*)
				when 0 then 'res_review_1'
				ELSE CONCAT('res_review_',MAX(CAST(SUBSTRING(res_review_num,12) AS DECIMAL))+1) 
				END AS res_review_num
			FROM
				tb_res_review
 	 	 </selectKey>
 	 	 
 	 	 INSERT INTO
			 tb_res_review(
			 	res_review_num,
			 	m_id, 
				res_num,
				res_review_title, 
				res_review_contents, 
				res_review_grade, 
				res_review_photo,
				res_travel_type,
				res_review_visit_date
		)VALUES (
				#{resReviewNum},
				#{member.mId},
				#{resNum},
				#{resReviewTitle},
				#{resReviewContents},
				#{resReviewGrade},
				#{resReviewPhoto},
				#{tripType.tripTypeNum},
				#{resVisitDate}
		)
     </insert>  

	<select id="isWritedResReview" parameterType="String" resultType="int">  
		SELECT
			count(*)
		FROM
			tb_res_review
		WHERE
			m_id =#{mId} and res_num =#{resNum} and res_review_status='Y';
	</select>         
	
	<select id="resReviewList" parameterType="String" resultMap="resReviewResultMap">
		SELECT 
			m.m_avatar,
			r.*,
			t.trip_type_name
		FROM 
			tb_res_review  AS r
		INNER JOIN 
			tb_member AS m 
		INNER JOIN
			tb_trip_type AS t
		ON  
		 	m.m_id = r.m_id AND r.res_travel_type = t.trip_type_num 
		WHERE  r.res_num =#{resNum} and r.res_review_status ='Y'
	</select>    
	
	<select id="getResReviewGradeCnt"  parameterType="String" resultType="ReviewGrade">
		SELECT 
			r.res_review_grade as grade,
			count(*) as gradeCnt
		FROM 
			tb_res_review AS r
		WHERE 
			r.res_num =#{resNum} and r.res_review_status ='Y'
		GROUP BY  
			r.res_review_grade 
	</select>    
	
	<select id="isLikedResReview" parameterType="String" resultType="int">
		select 
			count(*)
		from
			tb_res_review_like
		where
			m_id = #{mId} and res_review_num = #{reviewNum}	
	</select> 
	
	<insert id="addSightsReview" parameterType="SightsReview">
		<selectKey order ="BEFORE" keyProperty="sightsReviewNum" resultType ="String"> 
			 SELECT 
				case COUNT(*)
				when 0 then 'sights_review_1'
				ELSE CONCAT('sights_review_',MAX(CAST(SUBSTRING(sights_review_num,15) AS DECIMAL))+1) 
				END AS sights_review_num
			FROM
				tb_sights_review
 	 	 </selectKey>	
 	 	 INSERT INTO 
			tb_sights_review(
				sights_review_num,
				m_id, 
				sights_num, 
				sights_review_title, 
				sights_review_contents, 
				sights_review_grade, 
				sights_review_visit_date, 
				sights_review_photo, 
				sights_travel_type
		) VALUES (
				#{sightsReviewNum},
				#{member.mId},
				#{sightsNum}, 
				#{sightsReviewTitle}, 
				#{sightsReviewContents},
				#{sightsReviewGrade},
				#{sightsVisitDate},
				#{sightsReviewPhoto}, 
				#{tripType.tripTypeNum}
			)	
	
	</insert> 
	
	<select id="isWritedSightsReview" parameterType="String" resultType="int">  
		SELECT
			count(*)
		FROM
			tb_sights_review
		WHERE
			m_id =#{mId} and sights_num =#{sightsNum} and sights_review_status='Y';
	</select> 
	
	<select id="followersResReviewList" parameterType="String" resultType="ResReview" resultMap="resReviewResultMap">  
		SELECT
			r.m_id,
			r.res_name,
			r.res_photo,
			rv.res_review_title,
			rv.res_review_contents,
			rv.res_review_grade,
			rv.res_review_reg_date
		FROM
			tb_res  AS r
		INNER JOIN
			tb_res_review AS rv
		ON
			r.res_num = rv.res_num
		WHERE  
			r.m_id = #{mId};
	</select> 
	
	<select id="followersSightsReviewList" parameterType="String" resultType="SightsReview" resultMap="sightsReviewResultMap">  
		SELECT
			s.m_id,
			s.sights_name,
			s.sights_photo,
			sv.sights_review_title,
			sv.sights_review_contents,
			sv.sights_review_grade,
			sv.sights_review_reg_date
		FROM
			tb_sights  AS s
		INNER JOIN
			tb_sights_review AS sv
		ON
			s.sights_num = sv.sights_num
		WHERE  
			s.m_id = #{mId};
	</select> 
	
	<select id="sightsReviewList" parameterType="String" resultMap="sightsReviewResultMap">
		SELECT 
			m.m_avatar,
			s.*,
			t.trip_type_name
		FROM 
			tb_sights_review  AS s
		INNER JOIN 
			tb_member AS m 
		INNER JOIN
			tb_trip_type AS t
		ON  
		 	m.m_id = s.m_id AND s.sights_travel_type = t.trip_type_num 
		WHERE  s.sights_num =#{sightsNum} and s.sights_review_status ='Y'
     </select>      
     
     <select id="isLikedSightsReview" parameterType="String" resultType="int">
		select 
			count(*)
		from
			tb_sights_review_like
		where
			m_id = #{mId} and sights_review_num = #{reviewNum} 
	</select>  
	 
	<update id="deleteSightsReview" parameterType="String">
		
		update
			tb_sights_review
		set
		    sights_review_status ='N'
		where
			sights_review_num = #{sightsReviewNum}
	</update>  
	<update id="deleteResReview" parameterType="String">
		
		update
			tb_res_review
		set
		    res_review_status ='N'
		where
			res_review_num = #{resReviewNum}
	</update>    
	
	<select id="getSightsReviewGradeCnt"  parameterType="String" resultType="ReviewGrade">
		SELECT 
			s.sights_review_grade as grade,
			count(*) as gradeCnt
		FROM 
			tb_sights_review AS s
		WHERE 
			s.sights_num =#{sightsNum} and s.sights_review_status ='Y'
		GROUP BY  
			s.sights_review_grade 
	</select>    
	<select id="getResGradeAvg" parameterType="String" resultType="String">
		SELECT 
			CAST(ROUND(AVG(res_review_grade),1) AS CHAR(3)) AS score
		FROM 
			tb_res_review 
		WHERE 
			res_num =#{resNum} and res_review_status = 'Y'
		GROUP BY res_num
	</select>   
	<select id="getResReviewCnt" parameterType="String" resultType="String">
		SELECT 
			CAST(COUNT(*) AS CHAR(3)) AS score
		FROM 
			tb_res_review 
		WHERE 
			res_num =#{resNum} and res_review_status = 'Y'
		GROUP BY res_num
	</select> 
	<select id="getSightsGradeAvg" parameterType="String" resultType="String">
		SELECT 
			CAST(ROUND(AVG(sights_review_grade),1) AS CHAR(3)) AS score
		FROM 
			tb_sights_review 
		WHERE 
			sights_num =#{sightsNum} and sights_review_status = 'Y'
		GROUP BY sights_num
	</select>   
	<select id="getSightsReviewCnt" parameterType="String" resultType="String">
		SELECT 
			CAST(COUNT(*) AS CHAR(3)) AS score
		FROM 
			tb_sights_review 
		WHERE 
			sights_num =#{sightsNum} and sights_review_status = 'Y'
		GROUP BY sights_num
	</select> 
	
	<select id="getResReviewPhotos" parameterType="String" resultType="String">
		<![CDATA[
			SELECT
				r.res_review_photo
			FROM
				tb_res_review AS r
			WHERE 
				r.res_review_photo <> '' AND r.res_num = #{resNum} and r.res_review_status = 'Y'
		]]>
	</select>  
	
		<select id="getSightsReviewPhotos" parameterType="String" resultType="String">
		<![CDATA[
			SELECT
				s.sights_review_photo
			FROM
				tb_sights_review AS s
			WHERE 
				s.sights_review_photo <> '' AND s.sights_num = #{sightsNum} and s.sights_review_status = 'Y'
		]]>
	</select>  
	
	<select id="getSightsGenderPreference" parameterType="String" resultType="Preference" >
		select 
			 m.m_gender as type,
			 count(m.m_gender) as count
		from 
			tb_sights_review as sr 
		left outer join 
			tb_member as m
		on 
			m.m_id= sr.m_id and 
			sr.sights_num  =${sightsNum} and 
		 	sr.sights_review_status ='Y'
		group by m.m_gender HAVING m.m_gender IS NOT null
	</select>
                                                                         
</mapper>