<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.SightsMapper">

	<select id="selectSightsCate" resultType="SightsCate">
		select 
			sights_cate_num as sightsCateNum,
			sights_type as sightsType
		from 
			tb_sights_cate
	</select>
	
	<select id="selectDo" resultType="Do">
		select 
			do_num as doNum,
			do_name as doName
		from 
			tb_do
	</select>
	
	<select id="selectSi" resultType="Si" parameterType="String">
		select 
			si_num as siNum,
			si_name as siName
		from 
			tb_si
		where
			do_num =#{doNum}
	</select>
	<insert id="addSights" parameterType="Sights">
	  <selectKey order ="BEFORE" keyProperty="sightsNum" resultType ="String"> 
	 	 SELECT 
			case COUNT(*)
			when 0 then 'sights_1'
			ELSE CONCAT('sights_',MAX(CAST(SUBSTRING(sights_num,8) AS DECIMAL))+1) 
			END AS save_point_num
		FROM
			tb_sights
 	  </selectKey>
 		INSERT INTO tb_sights
			(sights_num, si_num, m_id, sights_cate_num, sights_name, sights_photo, sights_detail, sights_lat, sights_long, sights_addr, sights_web, sights_tel, sights_start_time, sights_close_time)
		VALUES(
			#{sightsNum},
			#{siNum},
			#{mId},
			#{sightsCateNum},
		    #{sightsName},
		    #{sightsPhoto},
		    #{sightsDetail},
		    #{sightsLat},
		    #{sightsLong},
		    #{sightsAddr},
		    #{sightsWeb},
		    #{sightsTel},
		    #{sightsStartTime},
		    #{sightsCloseTime})
	</insert>
	
	<resultMap type="Sights" id="sightsSelect"> 
		<result property ="sightsNum" column ="sights_num"/>
		<result property ="siNum" column ="si_num"/>
		<result property ="mId" column ="m_id"/>
		<result property ="sightsCateNum" column ="sights_cate_num"/>
		<result property ="sightsName" column ="sights_name"/>
		<result property ="sightsPhoto" column ="sights_photo"/>
		<result property ="sightsDetail" column ="sights_detail"/>
		<result property ="sightsLat" column ="sights_lat"/>
		<result property ="sightsLong" column ="sights_long"/>
		<result property ="sightsAddr" column ="sights_addr"/>
		<result property ="sightsWeb" column ="sights_web"/>
		<result property ="sightsTel" column ="sights_tel"/>
		<result property ="sightsStartTime" column ="sights_start_time"/>
		<result property ="sightsCloseTime" column ="sights_close_time"/>
		<result property ="sightsRegDate" column ="sights_reg_time"/>
		<result property ="sightsOpen" column ="sightsOpen"/>
		<result property ="btnColor" column ="btnColor"/>
		<association property="sightsCate" javaType ="SightsCate">
 			<result property="sightsCateNum"  	column="sights_cate_num"/>
 			<result property="sightsType"   	column="sights_type"/>
 		</association>
	</resultMap>
	
	<select id="selectSightsList" parameterType="String" resultMap ="sightsSelect">
	
		SELECT 
			s.sights_num,s.sights_name, s.sights_detail,s.sights_photo,s.sights_addr,sc.sights_cate_num,sc.sights_type
		FROM 
			tb_sights  AS s 
			INNER JOIN tb_si AS si 
			INNER JOIN tb_sights_cate AS sc
			ON s.si_num = si.si_num AND sc.sights_cate_num = s.sights_cate_num
		WHERE 
			si.si_name LIKE CONCAT('%',#{search},'%')
	</select>
	
	<select id="getDetailSights" parameterType="String" resultMap ="sightsSelect" >
		<![CDATA[
			SELECT b.*,
				(case 
					when sightsOpen = '곧 마감' then 'bg-danger'
					when sightsOpen = '영업중' then 'bg-warning'
					when sightsOpen = '영업종료' then 'bg-secondary'
					ELSE ''
				END ) AS btnColor 
			FROM (SELECT
					 s.*,
					 sc.sights_type,
					(case 
						when TIMEDIFF(sights_close_time,TIME(NOW())) BETWEEN  TIME('00:00:00') AND TIME('00:30:00') then '곧 마감'
						when sights_start_time <= TIME(NOW()) AND sights_close_time >= TIME(NOW()) then '영업중'	
						when sights_start_time > TIME(NOW()) AND sights_close_time < TIME(NOW()) then '영업마감'	
						ELSE ''
					END) 	AS sightsOpen
					FROM 
						tb_sights AS s 
					INNER join
						tb_sights_cate  AS sc
					ON s.sights_cate_num = sc.sights_cate_num	
					) AS b
			WHERE
				sights_num =#{sightsNum}
		]]>
	</select>
	
</mapper>