<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.travelMaker.mapper.StatsMapper">
<!-- 관광지 -->
<select id="sigGenderM" resultType="string">
SELECT 
	COUNT(m_gender)
FROM
	tb_sights_review AS sr 
INNER JOIN 
	tb_member AS m
ON
	sr.m_id = m.m_id
WHERE
	m.m_gender = '남';

</select>

<select id="siggenderG" resultType="String">
SELECT 
	COUNT(m_gender)
FROM
	tb_sights_review AS sr 
INNER JOIN 
	tb_member AS m
ON
	sr.m_id = m.m_id
WHERE
	m.m_gender = '여';


</select>

<select id="review" resultType="String">
SELECT
	COUNT(sights_num)
FROM
	tb_sights_review;

</select>

<select id="like" resultType="int">
SELECT
	COUNT(sights_review_like_num)
FROM
	tb_sights_review_like;



</select>

<select id="comment" resultType="int">
SELECT
	COUNT(sights_comment_num)
FROM
	tb_sights_comment;

</select>

<select id="grade" resultType="int">
SELECT
ROUND(AVG(sights_review_grade),2)
FROM
tb_sights_review;
</select>

<!-- 음식점 -->
<select id="resGenderM" resultType="int">
SELECT 
	COUNT(m_gender)
FROM
	tb_res_review AS rReview 
INNER JOIN 
	tb_member AS m
ON
	rReview.m_id = m.m_id
WHERE
	m.m_gender = '남';

</select>

<select id="resGenderG" resultType="int">
SELECT 
	COUNT(m_gender)
FROM
	tb_res_review AS rReview 
INNER JOIN 
	tb_member AS m
ON
	rReview.m_id = m.m_id
WHERE
	m.m_gender = '여';
</select>

<select id="resReview" resultType="int">
SELECT 
	COUNT(res_review_num)
FROM
	tb_res_review;
</select>

<select id="resGrade" resultType="int">
SELECT
ROUND(AVG(res_review_grade),2)
FROM
tb_res_review;
</select>
</mapper>