<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title>통계 화면 입니다</title>
	<style>
#h1{
	padding-top: 100px;
	text-align: center;
}
</style>
</th:block>
<th:block layout:fragment="customContents">
	
	<div class="content-wrapper">
		<div id="h1">
		<h1>통계</h1>
    	</div>
    	
    	<section class="content">
	   		
    	</section>
 
	</div>
  <!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="customFooterScript">
	<script>
		/*
			실제 구현부는 여기서 default 는 빈 틀만 꼮!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!써놓고 
			구현은 제발 여기서!!!!!!!!!!!!!!!!!!!!!!!!!!!!
			안그러면 충!!!!!!!!!!!!돌!!!!!!!!!!!!나!!!!!!!!!!!!!!!!!!!!!!!!!!!
		*/
	</script>	
</th:block>
</html>
