<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customTitle">
  <title>피드백 등록</title>
</th:block>
<th:block layout:fragment="customCss">
	<style>
		.card-edit {
			margin:0 auto;
		}
		.card-body {
			padding: 50px;
		}
		.form-footer {
			padding: 10px;
		}
	</style>
</th:block>

<th:block layout:fragment="customContents">
<div class="wrapper">
  <div class="content-wrapper">
  
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>피드백 등록하기</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">feedback</li>
              <li class="breadcrumb-item">addFeedback</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row ">
        <div class="card-edit col-md-6 " >
          <div class="card">
            <div class="card-header bg-info">
              <h4 class="card-title">피드백 보내기</h4>
               <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
            <div class="card-body">
              <form th:action="@{/feedback/addFeedback}" method="post">
                <input type="hidden" class="form-control" name="fbSightsNum" th:value="${fbSightsNum}">
				<input type="hidden" class="form-control" name="member.mId" th:value="${session.SID}">
                <div class="form-group">
                  <label for="feedback-name" class="control-label"></label>
                   <input type="hidden" class="form-control" name="sights.sightsNum" th:value="${sightsNum}">
                </div>
                <div class="form-group">
                  <label for="feedback-name" class="control-label"></label>
                  <input type="text" class="form-control" name="sights.sightsName" placeholder="피드백 보낼 관광명소/음식점 "disabled>
                </div>
                <div class="row">
                  <div class="col-12">
                    <!-- check box -->
                    <div class="form-group">
                      <div class="form-check" style="margin: 10px;">
                        <input class="form-check-input" type="checkbox" id="checkbox1" name="fbCode.fbCodeNum" value="fb_code_1">
                        <label class="form-check-label"> 더이상 존재하지 않는 장소입니다</label>
                      </div>
                      <div class="form-check" style="margin: 10px;">
                         <input class="form-check-input" type="checkbox" id="checkbox2" name="fbCode.fbCodeNum" value="fb_code_2">
                         <label class="form-check-label"> 잘못된 정보가 포함되어 있습니다</label>
                      </div>
                      <div class="form-check" style="margin: 10px;">
                        <input class="form-check-input" type="checkbox" id="checkbox3" name="fbCode.fbCodeNum" value="fb_code_3">
                        <label class="form-check-label"> 정보가 너무 빈약합니다</label>
                      </div>
                      <div class="form-check" style="margin: 10px;">
                        <input class="form-check-input" type="checkbox" id="checkbox4" name="fbCode.fbCodeNum" value="fb_code_4">
                        <label class="form-check-label"> 추가하고 싶은 유용한 정보를 알고 있습니다</label>
                      </div>
                      <div class="form-check" style="margin: 10px;">
                        <input class="form-check-input" type="checkbox" id="checkbox5" name="fbCode.fbCodeNum" value="fb_code_5">
                        <label class="form-check-label"> 기타</label>
                      </div>
                    </div>
                  </div>
                </div>                    
                <div class="form-group">
                  <label for="feedback-text" class="control-label"></label>
                  <textarea class="form-control" name="fbSightsContents" rows="4" placeholder="내용을 작성해주세요"></textarea>
                </div>
	            <input type="hidden" class="form-control" name="fbSightsCheck" th:value="D">
                <div class="form-footer">
	              <button type="button" class="btn btn-default float-left">취소</button>
	              <button type="submit" class="btn btn-info float-right">피드백 전송하기</button>
	            </div>
              </form>
            </div>
            <!-- /.card body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </section>
    
  </div>
</div>
</th:block>

<th:block layout:fragment="customFooterScript">
	<script>
	
	</script>
</th:block>
</html>
